header.header_lk{background:#fff;}
header .header__menu {padding: 12px 0px;align-items: center;}
header.header_lk .header__menu .black{max-width:119px;height:45px;margin-left:auto;}
header.header_lk .header__menu .black img{margin-right:12px;}

.block7{background:#F0F4F9;position:relative;overflow:hidden;}
.block7 .center{padding-top:65px;padding-bottom:104px;}
.block7__row {align-items:center;z-index:2;}
.block7__row p{font-size: 48px;line-height: 52px;}
.block7__form {padding:40px;z-index:1;background:#fff;box-shadow: 0px 30px 34px -20px rgba(147, 147, 142, 0.12);border-radius: 8px;box-sizing:border-box;max-width:520px;margin-top:50px;}
.block7__form .input_item{margin-bottom:12px;}
.block7__form .input_item:nth-child(2){margin-bottom:20px;}
.block7__form button{height:60px;margin-bottom:12px;}
.block7__form button:last-child{margin-bottom:0px;}
.block7__form #enter button:nth-child(3){margin-bottom:40px;}
.block7__form #enter button.href{border-radius:0px;-webkit-transition: border 0.1s;-moz-transition: border 0.1s;-o-transition: border 0.1s;transition: border 0.1s;border-bottom:2px solid #fff;}
.block7__form #enter button.href:hover{border-bottom:2px solid;}
.block7__form .href{height:auto;width:fit-content;color: #C5691C;font-family: 'Graphik LCGM';background:#fff;padding:0px;text-transform: none;}
.block7__form .inactive{opacity:0.3;}
.block7__form .form_success{display:none;}
.block7__form #pass_restore p{font-size: 20px;line-height: 28px;font-family: 'Graphik LCGM';margin-bottom:32px;}
.block7__form .form_success img{display:block;margin:0px auto;}
.block7__form .form_success p{font-size: 20px;line-height: 28px;color: #31303E;text-align:left;font-family: 'Graphik LCGR';margin-top:40px;margin-bottom:38px;}
.block7__form .form_success button{height:60px;max-width:148px;display:block;margin:0px auto 0px;}
.block7__bg{position:absolute;top:50%;right:0px;transform:translate(0%,-50%);}

footer{background:#fff;padding:100px 0px 48px;}
.footer__info > div:nth-child(1){min-width:247px;}
.footer__info > div:nth-child(1) p:nth-child(1){font-size: 24px;line-height: 32px;font-family: 'Graphik LCGB';margin-bottom:8px;}
.footer__info > div:nth-child(1) p:nth-child(1) a{color:#31303E;border-bottom:0px;}
.footer__info > div:nth-child(1) p:nth-child(2) a{font-size: 16px;line-height: 20px;font-family: 'Graphik LCGB';text-transform: uppercase;}
.footer__info > div:nth-child(1) button{max-width:247px;height:60px;margin-top:38px;}
.footer__info > div:nth-child(1) button img{margin-right:20px;}
.footer__info > div:nth-child(2){margin-left:auto;width:100%;}
.footer__info > div:nth-child(2) ul:nth-child(1), .footer__info > div:nth-child(2) ul:nth-child(2){margin-left:auto;} 
.footer__info > div:nth-child(2) ul:nth-child(2){margin-right:auto;}
.footer__info > div:nth-child(2) ul:nth-child(1) li,.footer__info > div:nth-child(2) ul:nth-child(2) li{margin-bottom:20px;}
.footer__info > div:nth-child(2) ul:nth-child(1) li:last-child,.footer__info > div:nth-child(2) ul:nth-child(2) li:last-child{margin-bottom:0px;}
.footer__info > div:nth-child(2) ul:nth-child(1) a,.footer__info > div:nth-child(2) ul:nth-child(2) a{font-size: 20px;line-height: 28px;color: #31303E;font-family: 'Graphik LCGM';border-bottom:2px solid #E6E9EC;}
.footer__info > div:nth-child(2) ul:nth-child(1) a:hover,.footer__info > div:nth-child(2) ul:nth-child(2) a:hover{color:#C5691C;border-color:#F7C882;}
.footer__info > div:nth-child(2) ul:nth-child(1) a:active,.footer__info > div:nth-child(2) ul:nth-child(2) a:active{color:#C5691C;border-color:#F7C882;}
.footer__info > div:nth-child(3){margin-left:auto;}
.footer__info > div:nth-child(4){margin-left:35px;margin-right:35px;}
.footer__info > div:nth-child(3) a, .footer__info > div:nth-child(4) a{font-size: 20px;line-height: 28px;font-family: 'Graphik LCGM';color: #31303E;}
.footer__info > div:nth-child(3) a:hover,.footer__info > div:nth-child(4) a:hover{color:#C5691C;border-color:#F7C882;}
.footer__info > div:nth-child(3) a:active,.footer__info > div:nth-child(4) a a:active{color:#C5691C;border-color:#F7C882;}
.footer__info > div:nth-child(3) p:nth-child(1), .footer__info > div:nth-child(4) p:nth-child(1){margin-bottom:22px;margin-top:18px;}
footer hr{margin:60px 0px 42px;border:0px;height:2px;background: #E6E9EC;}
.footer__last_row{align-items:center;}
.footer__last_row p:nth-child(1){font-size: 20px;line-height: 28px;font-family: 'Graphik LCGM';color: #31303E;}
.footer__last_row p:nth-child(1) span{font-size: 12px;line-height: 16px;text-transform: uppercase;display:block;color: #959595;font-family: 'Graphik LCGB';margin-bottom:16px;}
.footer__last_row p:nth-child(2){margin-left:auto;font-size: 16px;line-height: 20px;color: #8E9AA5;font-family: 'Graphik LCGM';}