@media screen and (max-width: 1500px)
{
	.center{width:1160px;}
	.block7__row p{font-size: 40px;line-height: 40px;}
	.block7__form{max-width:380px;}
	.block7__form .form_success img{max-width:100%;}
	.block7__bg{right:-12%;max-width:1003px;}
}

@media screen and (max-width: 1300px)
{
	.center{width:900px;padding:0px 28px;}
	.header__row p{font-size: 40px;line-height: 42px;max-width:475px;}
	.block7__bg{right:-35%;max-width:809px;}
	.block7__form{max-width:436px;}
	.block7__row p:nth-child(1){font-size: 36px;line-height: 38px;}
	.block7__form #pass_restore p{margin-bottom:20px;}
	.block7__form #pass_restore p, .block7__form input{font-size: 16px;line-height: 19px;}
	.footer__info > div:nth-child(2){flex-direction:column;width:auto;margin-left:auto;}
	.footer__info > div:nth-child(2) ul:nth-child(1), .footer__info > div:nth-child(2) ul:nth-child(2){margin-left:0px;margin-right:0px;}
	.footer__info > div:nth-child(2) ul:nth-child(1){margin-bottom:20px;}
	footer{padding-top:70px;}
	footer hr{margin:40px 0px;}
}

@media screen and (max-width: 959px)
{
	.center{width:100%;box-sizing:border-box;}
	.header__row p{font-size: 32px;line-height: 36px;max-width:464px;}
	.block7{padding-bottom:50px;}
	.block7 .center{padding-bottom:60px;}
	.block7__form{max-width:100%;}
	.block7__bg{right:0%;max-width:100%;position:relative;transform:translate(0%,0%);}
	.block7__row p:nth-child(1){font-size: 28px;line-height: 34px;}
	.block7__form .input_item{max-width:none;}
	.footer__info{flex-wrap:wrap;}
	.footer__info > div:nth-child(2){flex-direction:row;margin-left:0px;}
	.footer__info > div:nth-child(1){width:100%;flex-direction:row;margin-bottom:70px;align-items: center;}
	.footer__info > ul:nth-child(1){margin-left:0px;}
	.footer__last_row{align-items: flex-start;}
	.footer__info > div:nth-child(1) button{margin-top:0px;margin-left:auto;}
	.footer__info > div:nth-child(2) ul:nth-child(2){margin-left:40px;}
	.footer__info > div:nth-child(2) ul:nth-child(1) a, .footer__info > div:nth-child(2) ul:nth-child(2) a,.footer__info > div:nth-child(3) a, .footer__info > div:nth-child(4) a{font-size: 16px;line-height: 20px;}
	.footer__last_row p:nth-child(1){font-size: 16px;line-height: 19px;}
	footer{padding-top:60px;}
}

@media screen and (max-width: 767px)
{
	input::-webkit-input-placeholder, textarea::-webkit-input-placeholder  { font-size: 16px;line-height: 19px; }
	input:-ms-input-placeholder,  textarea:-ms-input-placeholder{ font-size: 16px;line-height: 19px; }
	input::-ms-input-placeholder, textarea::-ms-input-placeholder { font-size: 16px;line-height: 19px; }
	input::placeholder, textarea::placeholder { font-size: 16px;line-height: 19px; } 
	
	.center{width:100%;padding:0px 20px;box-sizing:border-box;}
	.header__row p,.header__row{max-width:none;}
	.header__row button{margin:40px auto 108px;width:100%;max-width:280px;}
	.block7__row p:nth-child(1){font-size: 24px;line-height: 28px;}
	.block7{padding-bottom:40px;}
	.block7 .center{padding-bottom:50px;}
	.block7__form{padding:20px;}
	.footer__info > div:nth-child(1){flex-direction:column;align-items: flex-start;margin-bottom:40px;}
	.footer__info > div:nth-child(1) button{margin-top:20px;margin-left:0px;text-align:left;box-sizing:border-box;padding:0px 20px;width:100%;max-width:280px;justify-content:flex-start;}
	.footer__info > div:nth-child(2){flex-direction:column;width:100%;}
	.footer__info > div:nth-child(2) ul:nth-child(2){margin-left:0px;}
	.footer__info > div:nth-child(3){margin-left:0px;}
	.footer__info > div:nth-child(4){margin-right:0px;margin-left:60px;}
	footer{padding-top:50px;}
	.footer__last_row{flex-direction:column;}
	.footer__last_row p:nth-child(2){margin-left:0px;margin-top:16px;}
	.block2__adress_block_adresses > div .input_container div{font-size: 15px;line-height: 18px;min-height:32px;height:auto;margin-bottom:0px;margin-top:15px;display:flex;align-items:center;}
	.footer__info > div:nth-child(2) ul:nth-child(1), .footer__info > div:nth-child(2) ul:nth-child(2){width:100%;}
}