@font-face {
    font-family: 'Graphik LCGM';
    src: url('../fonts/subset-GraphikLCG-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik LCGR';
    src: url('../fonts/subset-GraphikLCG-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik LCGB';
    src: url('../fonts/subset-GraphikLCG-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

