header.header_lk{background:#fff;position:relative;}
header .header__menu {padding: 12px 0px;align-items: center;}
header.header_lk .header__menu .yellow{max-width:204px;margin-left:auto;}
header.header_lk .header__menu .yellow img{margin-right:12px;}
header.header_lk .header__menu button{height:49px;}
header.header_lk .header__menu .white:nth-child(3){margin-left:40px;max-width:191px;}
header.header_lk .header__menu .white:nth-child(4){margin-left:40px;max-width:90px;}
header.header_lk .header__menu .white:nth-child(5){margin-left:40px;max-width:191px;color:#31303E;}
header.header_lk .header__menu .white:nth-child(5) img{margin-left:15px;margin-right:0px;}
header.header_lk .header__menu button.burger{max-width:35px;display:none;}
header.header_lk .header__menu_mobile{position: absolute;top: 0px;left: 0px;width: 100%;background: #fff;z-index:5;display:none;}
header .mobile_row {text-align:right;padding:23px 0px;margin-bottom:108px;}
header .header__menu_mobile button.yellow{height:52px;margin-bottom:12px;}
header .header__menu_mobile button img{margin-right:12px;}
header .header__menu_mobile button:nth-child(3){margin-top: 28px;margin-bottom: 31px;}
header .header__menu_mobile button.user{border-top:2px solid #E6E9EC;margin-top: 131px;padding: 29px 0px;color:#31303E;}
header .header__menu_mobile button.user img{margin-right:0px;margin-left:12px;}

.block12{background:#F0F4F9;}
.block12 .center{padding-top:65px;padding-bottom:92px;}
.block12__row {z-index:2;}
.block12__row p:nth-child(1){font-size: 48px;line-height: 52px;align-items: center;display: flex;}
.block12__balance {margin-top: 58px;}
.block12__balance > p{max-height:60px;margin-bottom:14px;align-items: center;justify-content: flex-start;display:flex;font-size: 20px;line-height: 28px;font-family: 'Graphik LCGM';}
.block12__balance > .flex > .flex{background: #FFFFFF;box-shadow: 0px 30px 34px -20px rgba(147, 147, 142, 0.12);box-sizing:border-box;border-radius: 8px;padding:38px 40px;width:100%;max-width:972px;}
.block12__balance > .flex > .flex > p{font-size: 16px;line-height: 20px;font-family: 'Graphik LCGM';margin-bottom:40px;}
.block12__balance_row .input_item{max-width:440px;margin-right:20px;}
.block12__balance_row button{max-width:266px;height:60px;}
.block12__balance_summ{background: #31303E;box-shadow: 0px 30px 34px -20px rgba(147, 147, 142, 0.12);border-radius: 8px;margin-left:auto;padding:38px 40px;box-sizing:border-box;width:100%;max-width:361px;max-height:136px;}
.block12__balance_summ p{color:#fff;font-size: 24px;line-height: 32px;font-family: 'Graphik LCGB';padding-left:35px;background:url(../images/block12_coins.svg) no-repeat left top;}
.block12__balance_summ p span{display:flex;font-size: 16px;min-height:22px;line-height: 20px;font-family: 'Graphik LCGM';align-items:center;margin-bottom:5px;}
.block12__balance_table{margin-top:35px;}
.block12__balance_table > p{max-height:60px;margin-bottom:14px;align-items: center;justify-content: flex-start;display:flex;font-size: 20px;line-height: 28px;font-family: 'Graphik LCGM';}
.block12__balance_table .balance_table{background: #FFFFFF;box-shadow: 0px 30px 34px -20px rgba(147, 147, 142, 0.12);box-sizing:border-box;border-radius: 8px 8px 0px 0px;width:100%;max-width:972px;}
.block12__balance_table .balance_table .balance_table_th div{font-size: 12px;line-height: 16px;color: #959595;text-transform: uppercase;font-family: 'Graphik LCGB';width:100%;padding: 22px 0px;justify-content:center;display:flex;}
.block12__balance_table .balance_table .balance_table_th div:first-child{padding-left:40px;justify-content:flex-start;}
.block12__balance_table .balance_table .balance_table_th div:last-child{padding-right:40px;justify-content:flex-end;}
.block12__balance_table .balance_table .balance_table_th div:nth-child(3){min-width:370px;}
.block12__balance_table .balance_table .balance_table_th div img{margin-left:8px;}
.block12__balance_table .balance_table .balance_table_td div{font-size: 16px;line-height: 20px;font-family: 'Graphik LCGM';width:100%;display:flex;align-items:center;border-top:2px solid #E6E9EC;padding: 22px 0px;justify-content:center;}
.block12__balance_table .balance_table .balance_table_td div:first-child{padding-left:40px;justify-content:flex-start;}
.block12__balance_table .balance_table .balance_table_td div:last-child{padding-right:40px;justify-content:flex-end;}
.block12__balance_table .balance_table .balance_table_td div:nth-child(3){min-width:370px;}
.block12__balance_table .balance_table .balance_table_td div span{display:none;margin-bottom:4px;font-size: 12px;line-height: 16px;font-family: 'Graphik LCGB';color: #959595;text-transform: uppercase;}
.block12__balance_table .balance_pagination{position:relative;padding:40px 0px;background:#fff;max-width:972px;border-top:2px solid #E6E9EC;}
.block12__balance_table .balance_pagination button{max-width:288px;height:60px;margin:0px auto 0px;}
.block12__balance_table .balance_pagination ul{position:absolute;right:30px;top:50%;transform:translate(0%, -50%);}
.block12__balance_table .balance_pagination ul li{margin:0px 10px;color: #959595;}
.block12__balance_table .balance_pagination ul li a{color: #959595;font-family: 'Graphik LCGM';border-bottom:0px;-webkit-transition: opacity 0.3s ease;-moz-transition: opacity 0.3s ease; o-transition: opacity 0.3s ease;transition: opacity 0.3s ease;}
.block12__balance_table .balance_pagination ul li a:hover{opacity:0.8;}
.block12__balance_table .balance_pagination ul li.active a{color: #31303E;}

footer{background:#fff;padding:100px 0px 48px;}
.footer__info > div:nth-child(1){min-width:247px;}
.footer__info > div:nth-child(1) p:nth-child(1){font-size: 24px;line-height: 32px;font-family: 'Graphik LCGB';margin-bottom:8px;}
.footer__info > div:nth-child(1) p:nth-child(1) a{color:#31303E;border-bottom:0px;}
.footer__info > div:nth-child(1) p:nth-child(2) a{font-size: 16px;line-height: 20px;font-family: 'Graphik LCGB';text-transform: uppercase;}
.footer__info > div:nth-child(1) button{max-width:247px;height:60px;margin-top:38px;}
.footer__info > div:nth-child(1) button img{margin-right:20px;}
.footer__info > div:nth-child(2){margin-left:auto;width:100%;}
.footer__info > div:nth-child(2) ul:nth-child(1), .footer__info > div:nth-child(2) ul:nth-child(2){margin-left:auto;} 
.footer__info > div:nth-child(2) ul:nth-child(2){margin-right:auto;}
.footer__info > div:nth-child(2) ul:nth-child(1) li,.footer__info > div:nth-child(2) ul:nth-child(2) li{margin-bottom:20px;}
.footer__info > div:nth-child(2) ul:nth-child(1) li:last-child,.footer__info > div:nth-child(2) ul:nth-child(2) li:last-child{margin-bottom:0px;}
.footer__info > div:nth-child(2) ul:nth-child(1) a,.footer__info > div:nth-child(2) ul:nth-child(2) a{font-size: 20px;line-height: 28px;color: #31303E;font-family: 'Graphik LCGM';border-bottom:2px solid #E6E9EC;}
.footer__info > div:nth-child(2) ul:nth-child(1) a:hover,.footer__info > div:nth-child(2) ul:nth-child(2) a:hover{color:#C5691C;border-color:#F7C882;}
.footer__info > div:nth-child(2) ul:nth-child(1) a:active,.footer__info > div:nth-child(2) ul:nth-child(2) a:active{color:#C5691C;border-color:#F7C882;}
.footer__info > div:nth-child(3){margin-left:auto;}
.footer__info > div:nth-child(4){margin-left:35px;margin-right:35px;}
.footer__info > div:nth-child(3) a, .footer__info > div:nth-child(4) a{font-size: 20px;line-height: 28px;font-family: 'Graphik LCGM';color: #31303E;}
.footer__info > div:nth-child(3) a:hover,.footer__info > div:nth-child(4) a:hover{color:#C5691C;border-color:#F7C882;}
.footer__info > div:nth-child(3) a:active,.footer__info > div:nth-child(4) a a:active{color:#C5691C;border-color:#F7C882;}
.footer__info > div:nth-child(3) p:nth-child(1), .footer__info > div:nth-child(4) p:nth-child(1){margin-bottom:22px;margin-top:18px;}
footer hr{margin:60px 0px 42px;border:0px;height:2px;background: #E6E9EC;}
.footer__last_row{align-items:center;}
.footer__last_row p:nth-child(1){font-size: 20px;line-height: 28px;font-family: 'Graphik LCGM';color: #31303E;}
.footer__last_row p:nth-child(1) span{font-size: 12px;line-height: 16px;text-transform: uppercase;display:block;color: #959595;font-family: 'Graphik LCGB';margin-bottom:16px;}
.footer__last_row p:nth-child(2){margin-left:auto;font-size: 16px;line-height: 20px;color: #8E9AA5;font-family: 'Graphik LCGM';}