@media screen and (max-width: 1500px)
{
	.center{width:1160px;}
	.block12__row p{font-size: 40px;line-height: 40px;}
	.block12__balance > .flex > .flex, .block12__balance_table{max-width:823px;}
	.block12__balance_summ{max-width:297px;}
}

@media screen and (max-width: 1300px)
{
	.center{width:900px;padding:0px 28px;}
	header.header_lk .header__menu .white:nth-child(3), header.header_lk .header__menu .white:nth-child(4), header.header_lk .header__menu .white:nth-child(5){margin-left:20px;}
	.header__row p{font-size: 40px;line-height: 42px;max-width:475px;}
	.block12__row p:nth-child(1){font-size: 36px;line-height: 38px;}
	.block12__balance > .flex > .flex{max-width:596px;}
	.block12__balance_row {flex-direction:column;}
	.block12__balance_table{max-width:100%;}
	.block12__balance_summ{max-width:256px;}
	.block12__balance_row .input_item{margin-right:0px;}
	.block12__balance_row button{margin-top:20px;}
	.block12__balance_summ p{font-size: 19px;line-height: 28px;font-family: 'Graphik LCGM';}
	.block12__balance > p, .block12__balance_table > p{font-size: 16px;line-height: 19px;}
	.footer__info > div:nth-child(2){flex-direction:column;width:auto;margin-left:auto;}
	.footer__info > div:nth-child(2) ul:nth-child(1), .footer__info > div:nth-child(2) ul:nth-child(2){margin-left:0px;margin-right:0px;}
	.footer__info > div:nth-child(2) ul:nth-child(1){margin-bottom:20px;}
	footer{padding-top:70px;}
	footer hr{margin:40px 0px;}
}

@media screen and (max-width: 959px)
{
	.center{width:100%;box-sizing:border-box;}
	.header__row p{font-size: 32px;line-height: 36px;max-width:464px;}
	header.header_lk .header__menu button{display:none;}
	header.header_lk .header__menu button.burger{display:flex;margin-left:auto;}
	.block12{padding-bottom:50px;}
	.block12 .center{padding-bottom:60px;}
	.block12__row p:nth-child(1){font-size: 28px;line-height: 34px;}
	.block12__balance > .flex > .flex{max-width:372px;}
	.block12__balance_summ{max-width:300px;}
	.block12__balance_table .balance_table .balance_table_td div:nth-child(3),
	.block12__balance_table .balance_table .balance_table_th div:nth-child(3){min-width:300px;}
	.footer__info{flex-wrap:wrap;}
	.footer__info > div:nth-child(2){flex-direction:row;margin-left:0px;}
	.footer__info > div:nth-child(1){width:100%;flex-direction:row;margin-bottom:70px;align-items: center;}
	.footer__info > ul:nth-child(1){margin-left:0px;}
	.footer__last_row{align-items: flex-start;}
	.footer__info > div:nth-child(1) button{margin-top:0px;margin-left:auto;}
	.footer__info > div:nth-child(2) ul:nth-child(2){margin-left:40px;}
	.footer__info > div:nth-child(2) ul:nth-child(1) a, .footer__info > div:nth-child(2) ul:nth-child(2) a,.footer__info > div:nth-child(3) a, .footer__info > div:nth-child(4) a{font-size: 16px;line-height: 20px;}
	.footer__last_row p:nth-child(1){font-size: 16px;line-height: 19px;}
	.block12__balance_table .balance_table .balance_table_td div:nth-child(3), .block12__balance_table .balance_table .balance_table_th div:nth-child(3){min-width:auto;}
}

@media screen and (max-width: 767px)
{
	input::-webkit-input-placeholder, textarea::-webkit-input-placeholder  { font-size: 16px;line-height: 19px; }
	input:-ms-input-placeholder,  textarea:-ms-input-placeholder{ font-size: 16px;line-height: 19px; }
	input::-ms-input-placeholder, textarea::-ms-input-placeholder { font-size: 16px;line-height: 19px; }
	input::placeholder, textarea::placeholder { font-size: 16px;line-height: 19px; } 
	
	.center{width:100%;padding:0px 20px;box-sizing:border-box;}
	.header__row p,.header__row{max-width:none;}
	.header__row button{margin:40px auto 108px;width:100%;max-width:280px;}
	.block12__row p:nth-child(1){font-size: 24px;line-height: 28px;}
	.block12{padding-bottom:40px;}
	.block12 .center{padding-bottom:0px;}
	.block12__balance > .flex > .flex{max-width:none;padding:20px;}
	.block12__balance > .flex{flex-direction:column;}
	.block12__balance > .flex > .flex > p{margin-bottom:20px;}
	.block12__balance_summ{margin-left:0px;max-width:none;margin-top:40px;}
	.block12__balance_table .balance_table .balance_table_th{display:none;}
	.block12__balance_table .balance_table .balance_table_td div span{display:block;}
	.block12__balance_table .balance_table .balance_table_td{flex-direction:column;}
	.block12__balance_table .balance_table .balance_table_td, .block12__balance_table .balance_table .balance_table_td div:first-child, .block12__balance_table .balance_table .balance_table_td div:last-child{padding:0px;}
	.block12__balance_table .balance_table .balance_table_th, .block12__balance_table .balance_table .balance_table_th div:first-child, .block12__balance_table .balance_table .balance_table_th div:last-child{padding:0px;}
	.block12__balance_row button{text-align:left;padding:0px 32px;}
	.block12__balance_table .balance_pagination {flex-direction:column;}
	.block12__balance_table .balance_pagination ul{position:relative;top:0px;right:0px;margin:30px auto 0px;transform:translate(0%, 0%)}
	.block12__balance_table .balance_pagination button{margin:0px auto;width:100%;max-width:240px;}
	.block12__balance_table .balance_table{padding:8px 0px;}
	.block12__balance_table .balance_table .balance_table_td{border-bottom:2px solid #E6E9EC;padding:30px 20px;}
	.block12__balance_table .balance_table .balance_table_td div{flex-direction:column;padding:0px;border-top: 0px solid #E6E9EC;}
	.block12__balance_table .balance_table .balance_table_td p{margin-bottom:20px;width:100%;}
	.block12__balance_table .balance_table .balance_table_td div:last-child p{margin-bottom:0px;}
	.block12__balance_table .balance_table .balance_table_td:last-child{border-bottom:0px solid #E6E9EC;}
	.footer__info > div:nth-child(1){flex-direction:column;align-items: flex-start;margin-bottom:40px;}
	.footer__info > div:nth-child(1) button{margin-top:20px;margin-left:0px;text-align:left;box-sizing:border-box;padding:0px 20px;width:100%;max-width:280px;justify-content:flex-start;}
	.footer__info > div:nth-child(2){flex-direction:column;width:100%;}
	.footer__info > div:nth-child(2) ul:nth-child(2){margin-left:0px;}
	.footer__info > div:nth-child(3){margin-left:0px;}
	.footer__info > div:nth-child(4){margin-right:0px;margin-left:60px;}
	footer{padding-top:60px;}
	footer hr{margin:40px 0px;}
	.footer__last_row{flex-direction:column;}
	.footer__last_row p:nth-child(2){margin-left:0px;margin-top:16px;}
	.block2__adress_block_adresses > div .input_container div{font-size: 15px;line-height: 18px;min-height:32px;height:auto;margin-bottom:0px;margin-top:15px;display:flex;align-items:center;}
	.footer__info > div:nth-child(2) ul:nth-child(1), .footer__info > div:nth-child(2) ul:nth-child(2){width:100%;}
}