@media screen and (max-width: 1500px)
{
	.center{width:1160px;}
	.block10__row p{font-size: 40px;line-height: 40px;}
	.block10__row > .flex > div{max-width:360px;}
	.ui-widget.ui-widget-content{max-width:360px !important;}
}

@media screen and (max-width: 1300px)
{
	.center{width:900px;padding:0px 28px;}
	header.header_lk .header__menu .white:nth-child(3), header.header_lk .header__menu .white:nth-child(4), header.header_lk .header__menu .white:nth-child(5){margin-left:20px;}
	.header__row p{font-size: 40px;line-height: 42px;max-width:475px;}
	.block10__row p:nth-child(1){font-size: 36px;line-height: 38px;}
	.block10__row .flex{flex-wrap:wrap;}
	.block10__row .flex > div:nth-child(2), .block10__row .flex > div:nth-child(3){max-width:436px;}
	.block10__row > .flex > div:nth-child(1){width:100%;max-width:none;margin-bottom:30px;}
	.block10__row .flex > div:nth-child(2) > .flex > div{max-width:49%;}
	.block10_list .project .block10__project_body .block10__project_buttons{margin-top:29px;}
	.ui-widget.ui-widget-content{max-width:100% !important;}
	.footer__info > div:nth-child(2){flex-direction:column;width:auto;margin-left:auto;}
	.footer__info > div:nth-child(2) ul:nth-child(1), .footer__info > div:nth-child(2) ul:nth-child(2){margin-left:0px;margin-right:0px;}
	.footer__info > div:nth-child(2) ul:nth-child(1){margin-bottom:20px;}
	footer{padding-top:70px;}
	footer hr{margin:40px 0px;}
	
}

@media screen and (max-width: 959px)
{
	.center{width:100%;box-sizing:border-box;}
	.header__row p{font-size: 32px;line-height: 36px;max-width:464px;}
	header.header_lk .header__menu button{display:none;}
	header.header_lk .header__menu button.burger{display:flex;margin-left:auto;}
	.block10{padding-bottom:50px;}
	.block10 .center{padding-bottom:60px;}
	.block10__row p:nth-child(1){font-size: 28px;line-height: 34px;}
	.block10__row > .flex > div:nth-child(2){margin-bottom:30px;}
	.block10__row .flex > div:nth-child(2), .block10__row .flex > div:nth-child(3){max-width:none;width:100%;}
	.block10__row .flex > div:nth-child(2) > .flex input, .block10__row .flex > div:nth-child(3) > .flex input{height:97%;}
	.block10_list .project .block10__project_row, .block10_list .project .block10__project_body .arrow_body p, .block10_list .project .block10__project_body .info_body li p{font-size: 16px;line-height: 19px;}
	.block10_list .project .block10__project_body .info_body > p{font-size: 40px;line-height: 42px;}
	.block10_list .project .block10__project_body{padding:38px 20px;}
	.block10__project_body > .flex{flex-direction:column;}
	.block10_list .project .block10__project_body .info_body{max-width:none;margin-left:15px;margin-top:35px;}
	.block10_list .project .block10__project_body .info_body ul{flex-wrap:nowrap;flex-direction:row;}
	.block10_list .project .block10__project_body .info_body ul li{width:25%;margin-right:0px;}
	.block10_list .project .block10__project_body .info_body ul li:nth-child(1), .block10_list .project .block10__project_body .info_body ul li:nth-child(2){margin-bottom:0px;}
	.block10_list .project .block10__project_body .info_body > p{margin-top:30px;}
	.block10_list .project .block10__project_body .block10__project_buttons{flex-direction:row;}
	.footer__info{flex-wrap:wrap;}
	.footer__info > div:nth-child(2){flex-direction:row;margin-left:0px;}
	.footer__info > div:nth-child(1){width:100%;flex-direction:row;margin-bottom:70px;align-items: center;}
	.footer__info > ul:nth-child(1){margin-left:0px;}
	.footer__last_row{align-items: flex-start;}
	.footer__info > div:nth-child(1) button{margin-top:0px;margin-left:auto;}
	.footer__info > div:nth-child(2) ul:nth-child(2){margin-left:40px;}
	.footer__info > div:nth-child(2) ul:nth-child(1) a, .footer__info > div:nth-child(2) ul:nth-child(2) a,.footer__info > div:nth-child(3) a, .footer__info > div:nth-child(4) a{font-size: 16px;line-height: 20px;}
	.footer__last_row p:nth-child(1){font-size: 16px;line-height: 19px;}
	footer{padding-top:60px;}
}

@media screen and (max-width: 767px)
{
	input::-webkit-input-placeholder, textarea::-webkit-input-placeholder  { font-size: 16px;line-height: 19px; }
	input:-ms-input-placeholder,  textarea:-ms-input-placeholder{ font-size: 16px;line-height: 19px; }
	input::-ms-input-placeholder, textarea::-ms-input-placeholder { font-size: 16px;line-height: 19px; }
	input::placeholder, textarea::placeholder { font-size: 16px;line-height: 19px; } 
	
	.center{width:100%;padding:0px 20px;box-sizing:border-box;}
	.header__row p,.header__row{max-width:none;}
	.header__row button{margin:40px auto 108px;width:100%;max-width:280px;}
	.block10__row p:nth-child(1){font-size: 24px;line-height: 28px;}
	.block10{padding-bottom:40px;}
	.block10 .center{padding-bottom:0px;}
	.block10__row .flex > div:nth-child(2) > .flex{flex-direction:column;height:auto;background:transparent;border:0px;border-radius: 0px;}
	.block10__row .flex > div:nth-child(2) > .flex > div{height:60px;max-width:none;width:100%;background: #FFFFFF;border: 2px solid #E6E9EC;border-radius: 8px;}
	.block10__row .flex > div:nth-child(2) > .flex > div:first-child{margin-bottom:10px;}
	.block10_list .project .block10__project_row{flex-direction:column;align-items: flex-start;}
	.block10_list .project .block10__project_row .label{margin-left:0px;margin-top:8px;}
	.block10_list .project .block10__project_body .info_body{margin-left:0px;}
	.block10_list .project .block10__project_body .info_body ul{flex-direction:column;}
	.block10_list .project .block10__project_body .info_body ul li,.block10_list .project .block10__project_body .info_body ul li:nth-child(1), .block10_list .project .block10__project_body .info_body ul li:nth-child(2){width:100%;margin-bottom: 20px;}
	.block10_list .project .block10__project_body .info_body ul li:last-child{margin-bottom:0px;}
	.block10_list .project .block10__project_body .info_body > p{font-size: 24px;line-height: 28px;}
	.block10_list .project .block10__project_body .block10__project_buttons{flex-direction:column;}
	.block10_list .project .block10__project_body .block10__project_buttons button.blue{margin-right:0px;margin-bottom:20px;padding:0px 32px;text-align:left;}
	.block10__pagination{flex-direction:column;margin-top:20px;}
	.block10__pagination ul{position:relative;top:0px;left:0px;margin:20px auto;}
	.block10__pagination button{margin:25px auto;width:100%;max-width:240px;}
	.ui-selectmenu-open{padding: 0px 20px !important;box-sizing: border-box;left: 0px !important;width: 100%;}
	.block10_list .project .block10__project_body .block10__project_buttons button.yellow{max-width: 307px;}
	.block10_empty img{width:100%;max-width:190px;}
	.block10_empty p {font-size: 16px;line-height: 20px;}
	.footer__info > div:nth-child(1){flex-direction:column;align-items: flex-start;margin-bottom:40px;}
	.footer__info > div:nth-child(1) button{margin-top:20px;margin-left:0px;text-align:left;box-sizing:border-box;padding:0px 20px;width:100%;max-width:280px;justify-content:flex-start;}
	.footer__info > div:nth-child(2){flex-direction:column;width:100%;}
	.footer__info > div:nth-child(2) ul:nth-child(2){margin-left:0px;}
	.footer__info > div:nth-child(3){margin-left:0px;}
	.footer__info > div:nth-child(4){margin-right:0px;margin-left:60px;}
	footer{padding-top:50px;}
	footer hr{margin:40px 0px;}
	.footer__last_row{flex-direction:column;}
	.footer__last_row p:nth-child(2){margin-left:0px;margin-top:16px;}
	.block2__adress_block_adresses > div .input_container div{font-size: 15px;line-height: 18px;min-height:32px;height:auto;margin-bottom:0px;margin-top:15px;display:flex;align-items:center;}
	.footer__info > div:nth-child(2) ul:nth-child(1), .footer__info > div:nth-child(2) ul:nth-child(2){width:100%;}
}