header.header_lk{background:#fff;position:relative;}
header .header__menu {padding: 12px 0px;align-items: center;}
header.header_lk .header__menu .yellow{max-width:204px;margin-left:auto;}
header.header_lk .header__menu .yellow img{margin-right:12px;}
header.header_lk .header__menu button{height:49px;}
header.header_lk .header__menu .white:nth-child(3){margin-left:40px;max-width:191px;}
header.header_lk .header__menu .white:nth-child(4){margin-left:40px;max-width:90px;}
header.header_lk .header__menu .white:nth-child(5){margin-left:40px;max-width:191px;color:#31303E;}
header.header_lk .header__menu .white:nth-child(5) img{margin-left:15px;margin-right:0px;}
header.header_lk .header__menu button.burger{max-width:35px;display:none;}
header.header_lk .header__menu_mobile{position: absolute;top: 0px;left: 0px;width: 100%;background: #fff;z-index:5;display:none;}
header .mobile_row {text-align:right;padding:23px 0px;margin-bottom:108px;}
header .header__menu_mobile button.yellow{height:52px;margin-bottom:12px;}
header .header__menu_mobile button img{margin-right:12px;}
header .header__menu_mobile button:nth-child(3){margin-top: 28px;margin-bottom: 31px;}
header .header__menu_mobile button.user{border-top:2px solid #E6E9EC;margin-top: 131px;padding: 29px 0px;color:#31303E;}
header .header__menu_mobile button.user img{margin-right:0px;margin-left:12px;}

.block10{background:#F0F4F9;}
.block10 .center{padding-top:65px;padding-bottom:92px;}
.block10__row {margin-bottom:60px;}
.block10__row > p:nth-child(1){font-size: 48px;line-height: 52px;margin-bottom:60px;}
.block10__row .flex{justify-content:space-between;}
.block10__row .flex > div{max-width:440px;width:100%;}
.block10__row .flex div > p{font-size: 12px;line-height: 16px;text-transform: uppercase;color: #31303E;font-family: 'Graphik LCGB';margin-bottom:13px;}
.block10__row .flex > div:nth-child(1) #company-button,.block10__row .flex > div:nth-child(1) select{background: #FFFFFF;border: 2px solid #E6E9EC;box-sizing: border-box;border-radius: 8px;width:100%;outline:none;display:flex;align-items:center;}
.block10__row .flex > div:nth-child(1) select{height:60px;padding:0px 20px;font-size: 20px;line-height: 28px;font-family: 'Graphik LCGM';}
.block10__row .flex > div:nth-child(1) #company-button .ui-selectmenu-text{height:43px;display:flex;align-items:center;font-size: 20px;line-height: 28px;font-family: 'Graphik LCGM';color: #31303E;}
.block10__row .flex > div:nth-child(3) .input_item, .block10__row .flex > div:nth-child(2) .input_item{background:#fff;}
.block10__row .flex > div:nth-child(2){justify-content:space-between;}
.block10__row .flex > div:nth-child(2) .input_item{max-width:210px;}
.block10_list .project{margin-bottom:40px;}
.block10_list .project .block10__project_row{font-size: 20px;line-height: 28px;font-family: 'Graphik LCGM';display:flex;align-items:center;margin-bottom:12px;}
.block10_list .project .block10__project_row .label{font-size: 16px;line-height: 20px;color:#fff;margin-left:40px;padding:4px 8px;border-radius: 4px;}
.block10_list .canceled .label{background:#FF4B4B;}
.block10_list .sended .label{background:#22B95E;}
.block10_list .done .label{background:#742129;}
.block10_list .project .block10__project_body {padding:38px 40px;background:#fff;box-shadow: 0px 30px 34px -20px rgba(147, 147, 142, 0.12);border-radius: 8px;}
.block10_list .project .block10__project_body > div{align-items:flex-start;}
.block10_list .project .block10__project_body .arrow_body{padding-left:35px;background:url(../images/block10_arrow.svg) no-repeat left center;}
.block10_list .project .block10__project_body .arrow_body p, .block10_list .project .block10__project_body .info_body li p{font-size: 20px;line-height: 28px;font-family: 'Graphik LCGM';}
.block10_list .project .block10__project_body .arrow_body p:nth-child(1){margin-bottom:20px;}
.block10_list .project .block10__project_body .arrow_body p span, .block10_list .project .block10__project_body .info_body li p span{display:block;font-size: 12px;line-height: 16px;font-family: 'Graphik LCGB';color: #959595;text-transform: uppercase;margin-bottom:4px;}
.block10_list .project .block10__project_body .info_body{margin-left:auto;max-width:350px;width:100%;}
.block10_list .project .block10__project_body .info_body ul{display:flex;flex-wrap:wrap;}
.block10_list .project .block10__project_body .info_body ul li{width:48%;margin-right:2%;}
.block10_list .project .block10__project_body .info_body ul li:nth-child(1), .block10_list .project .block10__project_body .info_body ul li:nth-child(2){margin-bottom:20px;}
.block10_list .project .block10__project_body .info_body ul li:nth-child(2n){margin-right:0px;}
.block10_list .project .block10__project_body .info_body > p{font-size: 48px;line-height: 52px;margin-top:43px;}
.block10_list .project .block10__project_body .block10__project_buttons{margin-top:-55px;}
.block10_list .project .block10__project_body .block10__project_buttons button{height:60px;}
.block10_list .project .block10__project_body .block10__project_buttons button.blue{max-width:307px;margin-right:20px;}
.block10_list .project .block10__project_body .block10__project_buttons button.blue img{margin-right:20px;}
.block10_list .project .block10__project_body .block10__project_buttons button.yellow{max-width:265px;}
.block10_list .project:last-child{margin-bottom:0px;}
.block10__pagination{position:relative;margin-top:60px;}
.block10__pagination button{max-width:288px;height:60px;margin:0px auto 0px;}
.block10__pagination ul{position:absolute;right:30px;top:50%;transform:translate(0%, -50%);}
.block10__pagination ul li{margin:0px 10px;color: #959595;}
.block10__pagination ul li a{color: #959595;font-family: 'Graphik LCGM';border-bottom:0px;-webkit-transition: opacity 0.3s ease;-moz-transition: opacity 0.3s ease; o-transition: opacity 0.3s ease;transition: opacity 0.3s ease;}
.block10__pagination ul li a:hover{opacity:0.8;}
.block10__pagination ul li.active a{color: #31303E;}
.block10__row.empty_page{margin-bottom:0px;}
.block10__row.empty_page p{margin-bottom:40px;}
.block10_empty{text-align:center;}
.block10_empty p {font-size: 20px;line-height: 28px;font-family: 'Graphik LCGM';max-width:397px;margin:27px auto 0px;}
.block10_empty button{max-width:223px;margin:20px auto 0px;height:60px;}
#ui-datepicker-div{padding:12px;background:#fff;}
#ui-datepicker-div .ui-widget-header, .ui-datepicker th{background:#fff;border:0px;font-size: 12px;line-height: 16px;font-family: 'Graphik LCGB';color: #31303E;text-transform: uppercase;}
.ui-datepicker td a{border: 1px solid #E6E9EC !important;text-align:center;background:#fff;padding:10px;font-size: 12px;line-height: 16px;font-family: 'Graphik LCGB';color: #31303E;}
.ui-datepicker td a:hover{border: 1px solid #FDD041 !important;}

footer{background:#fff;padding:100px 0px 48px;}
.footer__info > div:nth-child(1){min-width:247px;}
.footer__info > div:nth-child(1) p:nth-child(1){font-size: 24px;line-height: 32px;font-family: 'Graphik LCGB';margin-bottom:8px;}
.footer__info > div:nth-child(1) p:nth-child(1) a{color:#31303E;border-bottom:0px;}
.footer__info > div:nth-child(1) p:nth-child(2) a{font-size: 16px;line-height: 20px;font-family: 'Graphik LCGB';text-transform: uppercase;}
.footer__info > div:nth-child(1) button{max-width:247px;height:60px;margin-top:38px;}
.footer__info > div:nth-child(1) button img{margin-right:20px;}
.footer__info > div:nth-child(2){margin-left:auto;width:100%;}
.footer__info > div:nth-child(2) ul:nth-child(1), .footer__info > div:nth-child(2) ul:nth-child(2){margin-left:auto;} 
.footer__info > div:nth-child(2) ul:nth-child(2){margin-right:auto;}
.footer__info > div:nth-child(2) ul:nth-child(1) li,.footer__info > div:nth-child(2) ul:nth-child(2) li{margin-bottom:20px;}
.footer__info > div:nth-child(2) ul:nth-child(1) li:last-child,.footer__info > div:nth-child(2) ul:nth-child(2) li:last-child{margin-bottom:0px;}
.footer__info > div:nth-child(2) ul:nth-child(1) a,.footer__info > div:nth-child(2) ul:nth-child(2) a{font-size: 20px;line-height: 28px;color: #31303E;font-family: 'Graphik LCGM';border-bottom:2px solid #E6E9EC;}
.footer__info > div:nth-child(2) ul:nth-child(1) a:hover,.footer__info > div:nth-child(2) ul:nth-child(2) a:hover{color:#C5691C;border-color:#F7C882;}
.footer__info > div:nth-child(2) ul:nth-child(1) a:active,.footer__info > div:nth-child(2) ul:nth-child(2) a:active{color:#C5691C;border-color:#F7C882;}
.footer__info > div:nth-child(3){margin-left:auto;}
.footer__info > div:nth-child(4){margin-left:35px;margin-right:35px;}
.footer__info > div:nth-child(3) a, .footer__info > div:nth-child(4) a{font-size: 20px;line-height: 28px;font-family: 'Graphik LCGM';color: #31303E;}
.footer__info > div:nth-child(3) a:hover,.footer__info > div:nth-child(4) a:hover{color:#C5691C;border-color:#F7C882;}
.footer__info > div:nth-child(3) a:active,.footer__info > div:nth-child(4) a a:active{color:#C5691C;border-color:#F7C882;}
.footer__info > div:nth-child(3) p:nth-child(1), .footer__info > div:nth-child(4) p:nth-child(1){margin-bottom:22px;margin-top:18px;}
footer hr{margin:60px 0px 42px;border:0px;height:2px;background: #E6E9EC;}
.footer__last_row{align-items:center;}
.footer__last_row p:nth-child(1){font-size: 20px;line-height: 28px;font-family: 'Graphik LCGM';color: #31303E;}
.footer__last_row p:nth-child(1) span{font-size: 12px;line-height: 16px;text-transform: uppercase;display:block;color: #959595;font-family: 'Graphik LCGB';margin-bottom:16px;}
.footer__last_row p:nth-child(2){margin-left:auto;font-size: 16px;line-height: 20px;color: #8E9AA5;font-family: 'Graphik LCGM';}