@media screen and (max-width: 1500px)
{
	.center{width:1160px;}
	.block11__row p:nth-child(1){font-size: 40px;line-height: 40px;}
}

@media screen and (max-width: 1300px)
{
	.center{width:900px;padding:0px 28px;}
	header.header_lk .header__menu .white:nth-child(3), header.header_lk .header__menu .white:nth-child(4), header.header_lk .header__menu .white:nth-child(5){margin-left:20px;}
	.header__row p{font-size: 40px;line-height: 42px;max-width:475px;}
	.block11__bg{right:-26%;max-width:809px;}
	.block11__row p:nth-child(1){font-size: 36px;line-height: 38px;}
	.block11__info .sendrecieve > div > div p,
	.block11 .status > p,
	.block11__info .sendrecieve > div > p,
	.block11__info .delivery > p,
	.block11 .goods > p,
	.block11 .status > p,
	.block11__info .delivery .flex .flex p,
	.block11 .goods > div p{font-size: 16px;line-height: 19px;}
	.block11__info .delivery > div{flex-direction:column;}
	.block11__info .delivery .flex button{margin-left:0px;margin-top:35px;}
	.footer__info > div:nth-child(2){flex-direction:column;width:auto;margin-left:auto;}
	.footer__info > div:nth-child(2) ul:nth-child(1), .footer__info > div:nth-child(2) ul:nth-child(2){margin-left:0px;margin-right:0px;}
	.footer__info > div:nth-child(2) ul:nth-child(1){margin-bottom:20px;}
	footer{padding-top:70px;}
	footer hr{margin:40px 0px;}
}

@media screen and (max-width: 959px)
{
	.center{width:100%;box-sizing:border-box;}
	.header__row p{font-size: 32px;line-height: 36px;max-width:464px;}
	header.header_lk .header__menu button{display:none;}
	header.header_lk .header__menu button.burger{display:flex;margin-left:auto;}
	.block11{padding-bottom:50px;}
	.block11 .center{padding-bottom:60px;}
	.block11__row p:nth-child(1){font-size: 28px;line-height: 34px;}
	.block11__info .sendrecieve > div > div p, .block11 .goods > div p, .block11__info .sendrecieve > div > p, .block11 .goods > p{font-size: 16px;line-height: 19px;}
	.block11__info .sendrecieve > div > div p span, .block11 .goods > div p span{font-size: 12px;line-height: 16px;}
	.footer__info > div:nth-child(2) ul:nth-child(1){margin-bottom:0px;}
	footer{padding-top:60px;}
	footer hr{margin:40px 0px;}
	.footer__info{flex-wrap:wrap;}
	.footer__info > div:nth-child(2){flex-direction:row;margin-left:0px;}
	.footer__info > div:nth-child(1){width:100%;flex-direction:row;margin-bottom:60px;align-items: center;}
	.footer__info > ul:nth-child(1){margin-left:0px;}
	.footer__last_row{align-items: flex-start;}
	.footer__info > div:nth-child(1) button{margin-top:0px;margin-left:auto;}
	.footer__info > div:nth-child(2) ul:nth-child(2){margin-left:40px;}
	.footer__info > div:nth-child(2) ul:nth-child(1) a, .footer__info > div:nth-child(2) ul:nth-child(2) a,.footer__info > div:nth-child(3) a, .footer__info > div:nth-child(4) a{font-size: 16px;line-height: 20px;}
	.footer__last_row p:nth-child(1){font-size: 16px;line-height: 19px;}
	footer{padding-top:60px;}
}

@media screen and (max-width: 767px)
{
	input::-webkit-input-placeholder, textarea::-webkit-input-placeholder  { font-size: 16px;line-height: 19px; }
	input:-ms-input-placeholder,  textarea:-ms-input-placeholder{ font-size: 16px;line-height: 19px; }
	input::-ms-input-placeholder, textarea::-ms-input-placeholder { font-size: 16px;line-height: 19px; }
	input::placeholder, textarea::placeholder { font-size: 16px;line-height: 19px; } 
	
	.center{width:100%;padding:0px 20px;box-sizing:border-box;}
	.header__row p,.header__row{max-width:none;}
	.header__row button{margin:40px auto 108px;width:100%;max-width:280px;}
	.block11__row p:nth-child(1){font-size: 24px;line-height: 28px;}
	.block11{padding-bottom:40px;}
	.block11 .center{padding-bottom:0px;}
	.block11 .sendrecieve{flex-direction:column;}
	.block11__info .sendrecieve > div:first-child{margin-right:0px;margin-bottom:30px;}
	.block11__info .sendrecieve > div{max-width:none;}
	.block11 .goods > div ul{flex-wrap:wrap;}
	.block11 .goods > div ul li{width:45%;margin-right:5%;}
	.block11 .goods > div ul li:nth-child(2n){margin-right:0%;}
	.block11 .goods > div ul li:nth-child(1),.block11 .goods > div ul li:nth-child(2){margin-bottom:12px;}
	.block11__info .sendrecieve > div > div, .block11 .goods > div{padding:38px 20px;}
	.block11__row{flex-direction:column;}
	.block11__row button{margin-left:0px;margin-top:20px;}
	.block11_label{margin-top:40px;}
	.block11__info .delivery div.flex div.flex{flex-direction:column;}
	.block11__info .delivery div.flex div.flex p{width:100%;margin-bottom: 20px;}
	.block11__info .delivery div.flex div.flex p:last-child{margin-bottom:0px;}
	.block11__info .delivery .flex button{padding:0px 32px;text-align:left;}
	.block11__info .delivery > div{padding:38px 20px;}
	.block11 .status .status_table .status_table_th {display:none;}
	.block11 .status .status_table .status_table_td{flex-direction:column;padding:22px 0px;border-bottom:2px solid #E6E9EC;}
	.block11 .status .status_table .status_table_td div span{display:block;}
	.block11 .status .status_table .status_table_td div{flex-direction:column;border-top:0px solid #E6E9EC;width:100%;padding:0px 20px;box-sizing:border-box;align-items: flex-start;}
	.block11 .status .status_table .status_table_td div:first-child{max-width:none;padding-left:20px;padding-right:20px;margin-bottom:20px;}
	.block11 .status .status_table .status_table_td:last-child{border:0px;}
	.footer__info > div:nth-child(1){flex-direction:column;align-items: flex-start;margin-bottom:40px;}
	.footer__info > div:nth-child(1) button{margin-top:20px;margin-left:0px;text-align:left;box-sizing:border-box;padding:0px 20px;width:100%;max-width:280px;justify-content:flex-start;}
	.footer__info > div:nth-child(2){flex-direction:column;width:100%;}
	.footer__info > div:nth-child(2) ul:nth-child(2){margin-left:0px;}
	.footer__info > div:nth-child(3){margin-left:0px;}
	.footer__info > div:nth-child(4){margin-right:0px;margin-left:60px;}
	footer{padding-top:50px;}
	footer hr{margin:40px 0px;}
	.footer__last_row{flex-direction:column;}
	.footer__last_row p:nth-child(2){margin-left:0px;margin-top:16px;}
	.block2__adress_block_adresses > div .input_container div{font-size: 15px;line-height: 18px;min-height:32px;height:auto;margin-bottom:0px;margin-top:15px;display:flex;align-items:center;}
	.footer__info > div:nth-child(2) ul:nth-child(1), .footer__info > div:nth-child(2) ul:nth-child(2){width:100%;}
}