@media screen and (max-width: 1500px)
{
	.center{width:1160px;}
	.block15__row p:nth-child(1){font-size: 40px;line-height: 40px;}
	.block2__adress_block_adresses, .block15__info{max-width:823px;}
	.block15__short_info{max-width:297px;}
	.block15__info.step_two{margin-top:-270px;}
	.ui-widget.ui-widget-content{max-width:360px !important;}
	.input_item,#get_time-button{max-width:352px;}
}

@media screen and (max-width: 1300px)
{
	.center{width:900px;padding:0px 28px;}
	header.header_lk .header__menu .white:nth-child(3), header.header_lk .header__menu .white:nth-child(4), header.header_lk .header__menu .white:nth-child(5){margin-left:20px;}
	.header__row p{font-size: 40px;line-height: 42px;max-width:475px;}
	.block15__row p:nth-child(1){font-size: 36px;line-height: 38px;}
	.ui-widget.ui-widget-content{max-width:100% !important;}
	.block2__adress_block.block15__reg_block > .flex{flex-direction:column;}
	.block2__adress_block_adresses, .block15__info,.block15__short_info{max-width:100%;}
	.block15__short_info{flex-direction:row;display:flex;margin-left:0px;justify-content:space-between;margin-top:40px;}
	.block15__short_info .short_info, .block15__short_info .short_attention{margin-left:0px;}
	.block15__info.step_two,.block15__short_info .short_attention{margin-top:0px;}
	.block15 .input_item label,.block15 #get_time-button .ui-selectmenu-text,.block15__short_info .short_info p span,.block15__short_info .short_attention p{font-size: 16px;line-height: 19px;}
	.input_item, #get_time-button{max-width:396px;}
	.block2__delivery_block__info > div:nth-child(1){max-width:285px;}
	.block15__short_info .short_info p{font-size: 20px;line-height: 32px;padding-left:0px;padding-top:30px;margin-bottom:0px;margin-right:40px;}
	.block15__short_info .short_info p:last-child{margin-right:0px;}
	.block15__short_info .short_info{display:flex;max-width:585px;margin-right:20px;padding:34px;}
	.block15__short_info .short_attention{padding:34px 20px;}
	.block15__short_info .short_attention{max-width:299px;}
	.block15__short_info .short_attention p span{font-size: 20px;line-height: 32px;}
	.footer__info > div:nth-child(2){flex-direction:column;width:auto;margin-left:auto;}
	.footer__info > div:nth-child(2) ul:nth-child(1), .footer__info > div:nth-child(2) ul:nth-child(2){margin-left:0px;margin-right:0px;}
	.footer__info > div:nth-child(2) ul:nth-child(1){margin-bottom:20px;}
	footer{padding-top:70px;}
	footer hr{margin:40px 0px;}
}

@media screen and (max-width: 959px)
{
	.center{width:100%;box-sizing:border-box;}
	.header__row p{font-size: 32px;line-height: 36px;max-width:464px;}
	header.header_lk .header__menu button{display:none;}
	header.header_lk .header__menu button.burger{display:flex;margin-left:auto;}
	.block15{padding-bottom:50px;}
	.block15 .center{padding-bottom:60px;}
	.block15__row p:nth-child(1){font-size: 28px;line-height: 34px;}
	.block15__short_info .short_info p{font-size: 16px;line-height: 19px;}
	.block15__short_info .short_info{padding:20px 20px;}
	.block15__short_info .short_info p{margin-right:26px;}
	.block15__short_info .short_attention{max-width:204px;padding:12px;}
	.block15__short_info .short_attention p span{font-size: 16px;line-height: 19px;}
	.block15__short_info .short_attention p{font-size: 12px;line-height: 16px;max-width:140px;}
	.input_item, #get_time-button{max-width:296px;}
	.block2__delivery_block__info > div:nth-child(1){max-width:214px;margin-right:40px;}
	.block15__reg_block > p{font-size: 16px;line-height: 19px;}
	.footer__info{flex-wrap:wrap;}
	.footer__info > div:nth-child(2){flex-direction:row;margin-left:0px;}
	.footer__info > div:nth-child(1){width:100%;flex-direction:row;margin-bottom:70px;align-items: center;}
	.footer__info > ul:nth-child(1){margin-left:0px;}
	.footer__last_row{align-items: flex-start;}
	.footer__info > div:nth-child(1) button{margin-top:0px;margin-left:auto;}
	.footer__info > div:nth-child(2) ul:nth-child(2){margin-left:40px;}
	.footer__info > div:nth-child(2) ul:nth-child(1) a, .footer__info > div:nth-child(2) ul:nth-child(2) a,.footer__info > div:nth-child(3) a, .footer__info > div:nth-child(4) a{font-size: 16px;line-height: 20px;}
	.footer__last_row p:nth-child(1){font-size: 16px;line-height: 19px;}
	footer{padding-top:60px;}
}

@media screen and (max-width: 767px)
{
	input::-webkit-input-placeholder, textarea::-webkit-input-placeholder  { font-size: 16px;line-height: 19px; }
	input:-ms-input-placeholder,  textarea:-ms-input-placeholder{ font-size: 16px;line-height: 19px; }
	input::-ms-input-placeholder, textarea::-ms-input-placeholder { font-size: 16px;line-height: 19px; }
	input::placeholder, textarea::placeholder { font-size: 16px;line-height: 19px; } 
	
	.center{width:100%;padding:0px 20px;box-sizing:border-box;}
	.header__row p,.header__row{max-width:none;}
	.header__row button{margin:40px auto 108px;width:100%;max-width:280px;}
	.block15__row p:nth-child(1){font-size: 24px;line-height: 28px;}
	.block15{padding-bottom:40px;}
	.block2__adress_block.block15__reg_block{margin-top:40px;}
	.block15 .center{padding-bottom:0px;}
	.block15__short_info{flex-direction:column;}
	.block15__short_info .short_info{margin-right:0px;max-width:none;padding:20px;flex-direction:column;}
	.block15__short_info .short_info p{margin-right:0px;margin-bottom:30px;}
	.block15__short_info .short_attention{max-width:none;width:100%;padding:20px;margin-top:16px;}
	.block15__short_info .short_attention p{max-width:100%;}
	.ui-selectmenu-open{padding: 0px 20px !important;box-sizing: border-box;left: 20px !important;width: 100%;max-width: none !important;}
	.ui-widget.ui-widget-content{width:86%;}
	.block2__adress_block_adresses{max-height:none;padding:15px 0px;}
	.input_item, #get_time-button{max-width:none;}
	.block15__info .input_block{padding:38px 20px;}
	.block15__info .input_block > .flex{flex-direction:column;margin-top:10px;}
	.block15__info .input_block > .flex .input_item:last-child, #get_time-button{margin-top:10px;}
	.block15__info .input_block > .flex.fullwidth .input_item:last-child{margin-top:0px;}
	.block2__adress_block{margin-top:40px;padding:15px 0px;}
	.block2__adress_block_adresses > div{flex-direction:column;align-items:flex-start;padding-left:45px;padding-right:15px;}
	.block2__adress_block_adresses > div:nth-child(1):after, .block2__adress_block_adresses > div:nth-child(3):after{left:15px;top:28px;}
	.block2__adress_block_adresses > div:nth-child(2):after{left:22px;}
	.block2__adress_block_adresses > div .input_container label{flex-direction:column;position:relative;font-size:11px;}
	.block2__adress_block_adresses > div .input_container label .error_text{margin-left:0px;margin-top:10px;}
	.block15 .adress_list{padding:0px 15px;top:98%;}
	.block2__adress_block_adresses > div .buttons{margin-left:5px;padding-top:8px;}
	.block15 .block2__adress_block_container.error .adress_list{top:98%;}
	.block15 .adress_list .adress_list__row{margin-left:30px;flex-direction:column;}
	.block15 .adress_list .adress_list__row button{justify-content:flex-start;}
	.block15 .adress_list ul li{padding:13px 15px 13px 64px;}
	.block15 .adress_list.recent ul li:after{left:30px;}
	.block2__adress_block_adresses > div button{width:36px;height:36px;}
	.block2__delivery_block__info{flex-direction:column;}
	.block2__delivery_block{padding:15px;}
	.block2__adress_block_adresses > div .buttons button{width:36px;height:36px;}
	.block2__adress_block_adresses > div .input_container label.label_stop{top:12px;}
	.block2__delivery_block .block2__delivery_block__info > div:nth-child(1){margin-right:0px;margin-bottom:22px;}
	.block2__delivery_block .block2__delivery_block__info .input_container.input33{flex-direction:column;border:0px;border-radius: 0px;}
	.block2__delivery_block .block2__delivery_block__info .input_container.input33 > div{width:100%;border-right:0px;border:2px solid #E6E9EC;border-radius: 8px;margin-bottom:10px;box-sizing:border-box;}
	.block2__delivery_block .block2__delivery_block__info .input_container.input33 > div:last-child{border-right:2px solid #E6E9EC;margin-bottom:0px;}
	.adress_book_buttons {margin-top:30px !important;}
	.adress_book_buttons a:last-child{margin-top:20px;}
	.block2__delivery_block .block2__delivery_block__info .input_container.input33 > div{margin-bottom:0px;border-radius:8px !important;}
	.block2__delivery_block .fullwidth:nth-child(3),.block2__delivery_block .fullwidth:nth-child(4){margin-top:10px;}
	.input_item input{font-size:16px;line-height:19px;}
	.footer__info > div:nth-child(1){flex-direction:column;align-items: flex-start;margin-bottom:40px;}
	.footer__info > div:nth-child(1) button{margin-top:20px;margin-left:0px;text-align:left;box-sizing:border-box;padding:0px 20px;width:100%;max-width:280px;justify-content:flex-start;}
	.footer__info > div:nth-child(2){flex-direction:column;width:100%;}
	.footer__info > div:nth-child(2) ul:nth-child(2){margin-left:0px;}
	.footer__info > div:nth-child(3){margin-left:0px;}
	.footer__info > div:nth-child(4){margin-right:0px;margin-left:60px;}
	footer{padding-top:50px;}
	footer hr{margin:40px 0px;}
	.footer__last_row{flex-direction:column;}
	.footer__last_row p:nth-child(2){margin-left:0px;margin-top:16px;}
	.block2__adress_block_adresses > div .input_container div{font-size: 15px;line-height: 18px;min-height:32px;height:auto;margin-bottom:0px;margin-top:15px;display:flex;align-items:center;}
	.footer__info > div:nth-child(2) ul:nth-child(1), .footer__info > div:nth-child(2) ul:nth-child(2){width:100%;}
}