header.header_lk{background:#fff;position:relative;}
header .header__menu {padding: 12px 0px;align-items: center;}
header.header_lk .header__menu .yellow{max-width:204px;margin-left:auto;}
header.header_lk .header__menu .yellow img{margin-right:12px;}
header.header_lk .header__menu button{height:49px;}
header.header_lk .header__menu .white:nth-child(3){margin-left:40px;max-width:191px;}
header.header_lk .header__menu .white:nth-child(4){margin-left:40px;max-width:90px;}
header.header_lk .header__menu .white:nth-child(5){margin-left:40px;max-width:191px;color:#31303E;}
header.header_lk .header__menu .white:nth-child(5) img{margin-left:15px;margin-right:0px;}
header.header_lk .header__menu button.burger{max-width:35px;display:none;}
header.header_lk .header__menu_mobile{position: absolute;top: 0px;left: 0px;width: 100%;background: #fff;z-index:5;display:none;}
header .mobile_row {text-align:right;padding:23px 0px;margin-bottom:108px;}
header .header__menu_mobile button.yellow{height:52px;margin-bottom:12px;}
header .header__menu_mobile button img{margin-right:12px;}
header .header__menu_mobile button:nth-child(3){margin-top: 28px;margin-bottom: 31px;}
header .header__menu_mobile button.user{border-top:2px solid #E6E9EC;margin-top: 131px;padding: 29px 0px;color:#31303E;}
header .header__menu_mobile button.user img{margin-right:0px;margin-left:12px;}

.block15{background:#F0F4F9;}
.block15 .center{padding-top:60px;padding-bottom:92px;}
.block15__row {align-items:center;z-index:2;max-width:972px;}
.block15__row p:nth-child(1){font-size: 48px;line-height: 52px;}
.block15__info{margin-top:0px;max-width:972px;}
.block15__reg_block > p{font-size: 20px;line-height: 28px;font-family: 'Graphik LCGM';display:flex;align-items:center;}
.block15__info .input_block{background: #FFFFFF;box-shadow: 0px 30px 34px -20px rgba(147, 147, 142, 0.12);border-radius: 8px;padding:38px 40px;margin-top:12px;margin-bottom:40px;}
.block15__info .input_block > div{justify-content:space-between;margin-top:20px;}
.block15__info .input_block > div:first-child{margin-top:0px;}
.block15__info .input_block input[type=checkbox]{width:20px;height:20px;margin-right:12px;}
.block15__info .input_block .fullwidth .input_item, .block2__delivery_block .fullwidth .input_item{max-width:none;}
.block15__info .input_block .buttons{margin-top:0px;}
.block15__info .input_block button{height:60px;max-width:173px;margin-top:40px;}
.block15__info .input_block .pass_change{max-width:241px;margin-top:0px;}
.block15__info .input_block > p{font-family: 'Graphik LCGM';margin-bottom:17px;}
.block15__info .input_block .check_string{display:flex;align-items:center;color: #959595;}
.block15__info .input_block .check_string label{display:flex;align-items:center;}
.block15__info .input_block .check_string span{display:flex;width:20px;height:20px;background: #FFFFFF;border: 2px solid #E6E9EC;box-sizing: border-box;border-radius: 4px;align-items:center;justify-content:center;margin-right:12px;}
.block15__info .input_block .check_string span img{display:none;}
.block15__info .input_block .check_string input{display:none;}
.block15__info .input_block .check_string input, .block15__info .input_block .check_string label{cursor:pointer;}
.block15__info .input_block .check_string input:checked+label span img{display:block;}
.block15__info .input_block .check_string input:checked+label span {background: #FDD041;border: 2px solid #FDD041;}
.block15__info .input_block .status{font-size: 20px;line-height: 28px;height:0px;overflow:hidden;font-family: 'Graphik LCGM';align-items:center;opacity:0;visibility:hidden;-webkit-transition: opacity 0.3s ease;-moz-transition: opacity 0.3s ease; o-transition: opacity 0.3s ease;transition: opacity 0.3s ease;}
.block15__info .input_block .status.success{color:#22B95E;opacity:1;visibility:visible;margin-top:40px;height:auto;overflow:visible;}
.block15__info .adress_copy{display:none;}
.block15__reg_block > p > span{width:40px;height:40px;border-radius:50px;display:flex;align-items:center;justify-content:center;margin-right:12px;background:#fff;font-family: 'Graphik LCGM';font-size: 16px;line-height: 20px;}
.block15__reg_block > p > span img{display:none;}
.block15__reg_block.done > p > span{background:#FDD041;}
.block15__reg_block.done > p > span span{display:none;}
.block15__reg_block.done > p > span img{display:block;}
.block15__info button{height:60px;}
.block15__info button.inactive{opacity:0.3;}
.block2__adress_block{margin-bottom:40px;}
.block2__adress_block_adresses {max-height:225px;width:100%;max-width:972px;background: #FFFFFF;box-shadow: 0px 30px 34px -20px rgba(147, 147, 142, 0.12);border-radius: 8px;padding:38px 0px;box-sizing:border-box;margin-top:12px;}
.block2__adress_block_adresses .block2__border_block{border-bottom:2px solid #E6E9EC;padding-bottom:10px;width:100%;}
.block2__adress_block_adresses > div{display:flex;align-items: center;padding-left:97px;padding-right:40px;position:relative;}
.block2__adress_block_adresses > div:nth-child(1){z-index:2;}
.block2__adress_block_adresses > div:nth-child(1):after{content:url(../images/map_point_from.svg);position:absolute;left:48px;top:50%;transform:translate(0%, -50%);}
.block2__adress_block_adresses > div:nth-child(2){position:relative;}
.block2__adress_block_adresses > div:nth-child(2):after{content:url(../images/fixed_nav.svg);position:absolute;left:55px;top:50%;transform:translate(0%, -50%);}
.block2__adress_block_adresses .block2__adress_block_container:nth-child(3){z-index:1;}
.block2__adress_block_adresses > div:nth-child(3):after{content:url(../images/map_point_to.svg);position:absolute;left:48px;top:50%;transform:translate(0%, -50%);}
.block2__adress_block_adresses > div hr{border:0px;height:0px;background:#fff;margin:0px 0px;width:100%;margin-bottom:12px;}
.block2__adress_block_adresses > div .buttons button{background: #FFFFFF;border: 2px solid #E6E9EC;width:48px;height:48px;border-radius:50px;box-sizing: border-box;display:flex;align-items:center;justify-content:center;}
.block2__adress_block_adresses > div .input_container{background: #FFFFFF;display:flex;width:100%;flex-direction:column;position:relative;}
.block2__adress_block_adresses > div .buttons{height:100%;-webkit-transition: opacity 0.1s;-moz-transition: opacity 0.1s;-o-transition: opacity 0.1s;transition: opacity 0.1s;opacity:1;}
.block2__adress_block_adresses > div .buttons button{cursor:pointer;}
.block2__adress_block_adresses > div .buttons button:last-child{margin-left:8px;}
.block2__adress_block_adresses > div .input_container.active+.buttons{opacity:0;display:none;}
.block2__adress_block_adresses > div .input_container label{font-size: 12px;line-height: 16px;font-family: 'Graphik LCGB';color: #959595;text-transform: uppercase;margin-bottom:2px;position:absolute;top:12px;left:0px;-webkit-transition: top 0.1s;-moz-transition: top 0.1s;-o-transition: top 0.1s;transition: top 0.1s;cursor:text;display:flex;width:100%;}
.block2__adress_block_adresses > div .input_container label .error_text{margin-left:auto;}
.block2__adress_block_adresses > div .input_container label.label_stop{top:0px;}
.block2__adress_block_adresses > div .input_container input, .block2__adress_block_adresses > div .input_container div{border:0px;outline:none;min-height:32px;height:auto;font-size: 20px;line-height: 28px;color: #31303E;font-family: 'Graphik LCGM';width:100%;padding-right:10px;box-sizing:border-box;border-radius: 8px;margin-top:18px;}
.block2__delivery_block{background: #FFFFFF;box-shadow: 0px 30px 34px -20px rgba(147, 147, 142, 0.12);border-radius: 8px;padding:38px 40px;box-sizing:border-box;margin-top:12px;margin-bottom:40px;}
.block2__delivery_block > p{font-size: 16px;color: #31303E;line-height: 20px;font-family: 'Graphik LCGM';}
.block2__delivery_block .block2__delivery_block__info{margin-top:39px;}
.block2__delivery_block .block2__delivery_block__info > div:nth-child(1){margin-right:60px;}
.block2__delivery_block .block2__delivery_block__info > div > p{font-size: 12px;line-height: 16px;font-family: 'Graphik LCGB';color: #959595;text-transform: uppercase;}
.block2__delivery_block .block2__delivery_block__info > div > p span{margin-left:12px;display:inline-block;background: #DBEDF8;border-radius: 100px;color: #31303E;padding:2px 9px;}
.block2__delivery_block__info > div{width:100%;}
.block2__delivery_block__info > div:nth-child(1){max-width:272px;}
.block2__delivery_block .block2__delivery_block__info .input_container.input33 > div{width:33.33333%;border-radius:0px;position:relative;z-index:1;}
.block2__delivery_block .block2__delivery_block__info .input_container.input33 > div:first-child{border-radius:8px 0px 0px 8px;}
.block2__delivery_block .block2__delivery_block__info .input_container.input33 > div:last-child{border-radius:0px 8px 8px 0px;}
.block2__delivery_block .block2__delivery_block__info .input_container.input33 > div:nth-child(2),.block2__delivery_block .block2__delivery_block__info .input_container.input33 > div:nth-child(3){margin-left:-2px;}
.block2__delivery_block .block2__delivery_block__info .input_container.input33 > div:hover,.block2__delivery_block .block2__delivery_block__info .input_container.input33 > div.focused{z-index:2;}
.block2__delivery_block .block2__delivery_block__info .input_item{margin-top:12px;}
.block15 .adress_list{position:absolute;left:0px;top:96%;background:#fff;width:100%;padding-left:40px;padding-right:40px;box-sizing:border-box;}
.block15 .adress_list .adress_list__row{flex-wrap:wrap;border-top:2px solid #E6E9EC;border-bottom:2px solid #E6E9EC;padding:3px 0px;margin-left:57px;box-sizing:border-box;}
.block15 .adress_list .adress_list__row button{align-items:center;width:auto;padding:0px;margin-right:24px;margin-top:11px;margin-bottom:11px;}
.block15 .adress_list .adress_list__row button:last-child{margin-right:0px;}
.block15 .adress_list .adress_list__row button span{font-size: 16px;color:#C5691C;line-height: 20px;font-family: 'Graphik LCGM';text-transform: initial;display:flex;text-align:left;}
.block15 .adress_list .adress_list__row button img{margin-right:16px;}
.block15 .adress_list ul{padding:8px 0px;}
.block15 .adress_list ul li{cursor:pointer;box-sizing:border-box;padding:13px 57px;font-family: 'Graphik LCGM';position:relative;padding-left:86px;}
.block15 .adress_list ul li:hover{background:#F8FCF4;color:#C5691C;}
.block15 .adress_list.recent{opacity:0;visibility:hidden;-webkit-transition: opacity 0s;-moz-transition: opacity 0s;-o-transition: opacity 0s;transition: opacity 0s;}
.block15 .adress_list.book{opacity:0;visibility:hidden;}
.block15 .adress_list.recent.active, .block15 .adress_list.book.active{opacity:1;visibility:visible;}
.block15 .adress_list.recent ul li:after{content:url(../images/list_recent.svg);position:absolute;left:57px;top:50%;transform:translate(0%, -50%);}
.block15 .adress_list.book ul li:after{content:url(../images/list_book.svg);position:absolute;left:57px;top:50%;transform:translate(0%, -50%);}
.block15 .block2__adress_block_container .error_text{color: #FF4B4B;font-family: 'Graphik LCGM';margin-left:auto;display: none;align-items: center;font-size: 12px;line-height: 16px;text-transform: none;}
.block15 .block2__adress_block_container.error .error_text{display:flex;}
.block15 .block2__adress_block_container.error .adress_list__row{border-top:2px solid #FF4B4B;}
.block15 .block2__adress_block_container.error .input_container label{color:#FF4B4B;}
#ui-datepicker-div{padding:12px;background:#fff;}
#ui-datepicker-div .ui-widget-header, .ui-datepicker th{background:#fff;border:0px;font-size: 12px;line-height: 16px;font-family: 'Graphik LCGB';color: #31303E;text-transform: uppercase;}
.ui-datepicker td a{border: 1px solid #E6E9EC !important;text-align:center;background:#fff;padding:10px;font-size: 12px;line-height: 16px;font-family: 'Graphik LCGB';color: #31303E;}
.ui-datepicker td a:hover{border: 1px solid #FDD041 !important;}
#get_time-button, select{background: #FFFFFF;border: 2px solid #E6E9EC;box-sizing: border-box;border-radius: 8px;width:100%;outline:none;display:flex;align-items:center;height:60px;padding:0px 20px;font-size: 20px;line-height: 28px;font-family: 'Graphik LCGM';}
.block15 #get_time-button .ui-selectmenu-text{height:43px;display:flex;align-items:center;font-size: 20px;line-height: 28px;font-family: 'Graphik LCGM';color: #31303E;}
#get_time-button{width:100%;max-width:440px;}
.block2__adress_block.block15__reg_block{margin-top:60px;}
.block2__delivery_block .fullwidth:nth-child(3){margin-top:40px;}
.block2__delivery_block .fullwidth:nth-child(4){margin-top:20px;}
.block15__info .input_block > div.adress_book_buttons{justify-content:flex-start;}
.adress_book_buttons a{border-bottom:0px;display:flex;align-items:center;font-family: 'Graphik LCGM';}
.adress_book_buttons a img{margin-right:16px;}
.adress_book_buttons a:first-child{margin-right:27px;}
.adress_book_buttons a span{border-bottom:2px solid transparent;-webkit-transition: border 0.3s ease;-moz-transition: border 0.3s ease; o-transition: border 0.3s ease;transition: border 0.3s ease;}
.adress_book_buttons a:hover span{border-bottom:2px solid;}
.get_date label{background:url(../images/datepicker.svg) no-repeat 95% center;}
.block15__short_info{max-width:361px;margin-left:auto;margin-top:11px;}
.block15__short_info .short_info, .block15__short_info .short_attention{background: #31303E;box-shadow: 0px 30px 34px -20px rgba(147, 147, 142, 0.12);border-radius: 8px;margin-left:auto;padding:38px 40px;box-sizing:border-box;width:100%;max-width:361px;}
.block15__short_info .short_info p{padding-left:35px;font-size: 24px;line-height: 32px;color:#fff;font-family: 'Graphik LCGB';margin-bottom:18px;}
.block15__short_info .short_info p:nth-child(1){background:url(../images/block15_company.svg) no-repeat left top;}
.block15__short_info .short_info p:nth-child(2){background:url(../images/block15_time.svg) no-repeat left top;}
.block15__short_info .short_info p:nth-child(3){background:url(../images/block15_price.svg) no-repeat left top;}
.block15__short_info .short_info p:last-child{margin-bottom:0px;}
.block15__short_info .short_info p span{display:block;font-size: 16px;line-height: 20px;font-family: 'Graphik LCGM';margin-bottom:5px;}
.block15__short_info .short_attention{margin-top:20px;}
.block15__short_info .short_attention p{font-family: 'Graphik LCGR';color:#fff;line-height: 20px;}
.block15__short_info .short_attention p span{display:block;font-size: 24px;line-height: 32px;font-family: 'Graphik LCGB';margin-bottom:5px;}
.block15__info.step_two{margin-top:-249px;}
.zindex{z-index:2;}

footer{background:#fff;padding:100px 0px 48px;}
.footer__info > div:nth-child(1){min-width:247px;}
.footer__info > div:nth-child(1) p:nth-child(1){font-size: 24px;line-height: 32px;font-family: 'Graphik LCGB';margin-bottom:8px;}
.footer__info > div:nth-child(1) p:nth-child(1) a{color:#31303E;border-bottom:0px;}
.footer__info > div:nth-child(1) p:nth-child(2) a{font-size: 16px;line-height: 20px;font-family: 'Graphik LCGB';text-transform: uppercase;}
.footer__info > div:nth-child(1) button{max-width:247px;height:60px;margin-top:38px;}
.footer__info > div:nth-child(1) button img{margin-right:20px;}
.footer__info > div:nth-child(2){margin-left:auto;width:100%;}
.footer__info > div:nth-child(2) ul:nth-child(1), .footer__info > div:nth-child(2) ul:nth-child(2){margin-left:auto;} 
.footer__info > div:nth-child(2) ul:nth-child(2){margin-right:auto;}
.footer__info > div:nth-child(2) ul:nth-child(1) li,.footer__info > div:nth-child(2) ul:nth-child(2) li{margin-bottom:20px;}
.footer__info > div:nth-child(2) ul:nth-child(1) li:last-child,.footer__info > div:nth-child(2) ul:nth-child(2) li:last-child{margin-bottom:0px;}
.footer__info > div:nth-child(2) ul:nth-child(1) a,.footer__info > div:nth-child(2) ul:nth-child(2) a{font-size: 20px;line-height: 28px;color: #31303E;font-family: 'Graphik LCGM';border-bottom:2px solid #E6E9EC;}
.footer__info > div:nth-child(2) ul:nth-child(1) a:hover,.footer__info > div:nth-child(2) ul:nth-child(2) a:hover{color:#C5691C;border-color:#F7C882;}
.footer__info > div:nth-child(2) ul:nth-child(1) a:active,.footer__info > div:nth-child(2) ul:nth-child(2) a:active{color:#C5691C;border-color:#F7C882;}
.footer__info > div:nth-child(3){margin-left:auto;}
.footer__info > div:nth-child(4){margin-left:35px;margin-right:35px;}
.footer__info > div:nth-child(3) a, .footer__info > div:nth-child(4) a{font-size: 20px;line-height: 28px;font-family: 'Graphik LCGM';color: #31303E;}
.footer__info > div:nth-child(3) a:hover,.footer__info > div:nth-child(4) a:hover{color:#C5691C;border-color:#F7C882;}
.footer__info > div:nth-child(3) a:active,.footer__info > div:nth-child(4) a a:active{color:#C5691C;border-color:#F7C882;}
.footer__info > div:nth-child(3) p:nth-child(1), .footer__info > div:nth-child(4) p:nth-child(1){margin-bottom:22px;margin-top:18px;}
footer hr{margin:60px 0px 42px;border:0px;height:2px;background: #E6E9EC;}
.footer__last_row{align-items:center;}
.footer__last_row p:nth-child(1){font-size: 20px;line-height: 28px;font-family: 'Graphik LCGM';color: #31303E;}
.footer__last_row p:nth-child(1) span{font-size: 12px;line-height: 16px;text-transform: uppercase;display:block;color: #959595;font-family: 'Graphik LCGB';margin-bottom:16px;}
.footer__last_row p:nth-child(2){margin-left:auto;font-size: 16px;line-height: 20px;color: #8E9AA5;font-family: 'Graphik LCGM';}