header.header_lk{background:#fff;position:relative;}
header .header__menu {padding: 12px 0px;align-items: center;}
header.header_lk .header__menu .black{max-width:119px;height:45px;margin-left:auto;}
header.header_lk .header__menu .black img{margin-right:12px;}

.block13{background:#F0F4F9;}
.block13 .center{padding-top:65px;padding-bottom:92px;}
.block13__row {align-items:center;z-index:2;max-width:972px;}
.block13__row p:nth-child(1){font-size: 48px;line-height: 52px;}
.block13__row button{max-width:266px;margin-left:auto;height:60px;}
.block13__info{margin-top:60px;max-width:972px;}
.block13__info .block13__reg_block > p{font-size: 20px;line-height: 28px;font-family: 'Graphik LCGM';display:flex;align-items:center;}
.block13__info .input_block{background: #FFFFFF;box-shadow: 0px 30px 34px -20px rgba(147, 147, 142, 0.12);border-radius: 8px;padding:38px 40px;margin-top:12px;margin-bottom:40px;}
.block13__info .input_block > div{justify-content:space-between;margin-top:20px;}
.block13__info .input_block > div:first-child{margin-top:0px;}
.block13__info .input_block input[type=checkbox]{width:20px;height:20px;margin-right:12px;}
.block13__info .input_block .fullwidth .input_item{max-width:none;}
.block13__info .input_block .buttons{margin-top:0px;}
.block13__info .input_block button{height:60px;max-width:173px;margin-top:40px;}
.block13__info .input_block .pass_change{max-width:241px;margin-top:0px;}
.block13__info .input_block > p{font-family: 'Graphik LCGM';margin-bottom:17px;}
.block13__info .input_block .check_string{display:flex;align-items:center;color: #959595;}
.block13__info .input_block .check_string label{display:flex;align-items:center;}
.block13__info .input_block .check_string span{display:flex;width:20px;height:20px;background: #FFFFFF;border: 2px solid #E6E9EC;box-sizing: border-box;border-radius: 4px;align-items:center;justify-content:center;margin-right:12px;}
.block13__info .input_block .check_string span img{display:none;}
.block13__info .input_block .check_string input{display:none;}
.block13__info .input_block .check_string input, .block13__info .input_block .check_string label{cursor:pointer;}
.block13__info .input_block .check_string input:checked+label span img{display:block;}
.block13__info .input_block .check_string input:checked+label span {background: #FDD041;border: 2px solid #FDD041;}
.block13__info .input_block .status{font-size: 20px;line-height: 28px;height:0px;overflow:hidden;font-family: 'Graphik LCGM';align-items:center;opacity:0;visibility:hidden;-webkit-transition: opacity 0.3s ease;-moz-transition: opacity 0.3s ease; o-transition: opacity 0.3s ease;transition: opacity 0.3s ease;}
.block13__info .input_block .status.success{color:#22B95E;opacity:1;visibility:visible;margin-top:40px;height:auto;overflow:visible;}
.block13__info .input_block .error_flex {margin-top:0px;}
.block13__info .input_block .passwd_difficult, .block13__info .input_block .passwd_difference{width:50%;max-width:440px;display:none;margin-top:13px;font-family: 'Graphik LCGM';}
.block13__info .input_block .passwd_difference{margin-left:auto;}
.block13__info .input_block .passwd_difficult.weak, .block13__info .input_block .passwd_difference.weak,.block13__info .input_block .passwd_difficult.strong, .block13__info .input_block .passwd_difference.strong{display:block;}
.block13__info .input_block .passwd_difficult.weak span, .block13__info .input_block .passwd_difference.weak span{color:#FF4B4B;}
.block13__info .input_block .passwd_difficult.strong span, .block13__info .input_block .passwd_difference.strong span{color:#22B95E;}
.block13__info .adress_copy{display:none;}
.block13__info .block13__reg_block > p > span{width:40px;height:40px;border-radius:50px;display:flex;align-items:center;justify-content:center;margin-right:12px;background:#fff;font-family: 'Graphik LCGM';font-size: 16px;line-height: 20px;}
.block13__info .block13__reg_block > p > span img{display:none;}
.block13__reg_block.done > p > span{background:#FDD041;}
.block13__reg_block.done > p > span span{display:none;}
.block13__reg_block.done > p > span img{display:block;}
.block13__info button{height:60px;}
.block13__info button.inactive{opacity:0.3;}
.block13__info_p{font-family: 'Graphik LCGM';margin-top:25px;}
.block13__info_p a{color:#1F1E24;border-bottom:2px solid #959595;display:inline;}
.block13__info_p a:hover{border-bottom:2px solid #C5691C;color:#C5691C;}
.block13__info_p a:active{opacity:0.9;}
.block13__info .input_block .pass_click{position:absolute;right:20px;top:50%;transform:translate(0%,-50%);cursor:pointer;}
.block13__info .input_block .hide_pass{display:none;}
.block13__info .input_item {padding:0px 62px 0px 20px;}

footer{background:#fff;padding:100px 0px 48px;}
.footer__info > div:nth-child(1){min-width:247px;}
.footer__info > div:nth-child(1) p:nth-child(1){font-size: 24px;line-height: 32px;font-family: 'Graphik LCGB';margin-bottom:8px;}
.footer__info > div:nth-child(1) p:nth-child(1) a{color:#31303E;border-bottom:0px;}
.footer__info > div:nth-child(1) p:nth-child(2) a{font-size: 16px;line-height: 20px;font-family: 'Graphik LCGB';text-transform: uppercase;}
.footer__info > div:nth-child(1) button{max-width:247px;height:60px;margin-top:38px;}
.footer__info > div:nth-child(1) button img{margin-right:20px;}
.footer__info > div:nth-child(2){margin-left:auto;width:100%;}
.footer__info > div:nth-child(2) ul:nth-child(1), .footer__info > div:nth-child(2) ul:nth-child(2){margin-left:auto;} 
.footer__info > div:nth-child(2) ul:nth-child(2){margin-right:auto;}
.footer__info > div:nth-child(2) ul:nth-child(1) li,.footer__info > div:nth-child(2) ul:nth-child(2) li{margin-bottom:20px;}
.footer__info > div:nth-child(2) ul:nth-child(1) li:last-child,.footer__info > div:nth-child(2) ul:nth-child(2) li:last-child{margin-bottom:0px;}
.footer__info > div:nth-child(2) ul:nth-child(1) a,.footer__info > div:nth-child(2) ul:nth-child(2) a{font-size: 20px;line-height: 28px;color: #31303E;font-family: 'Graphik LCGM';border-bottom:2px solid #E6E9EC;}
.footer__info > div:nth-child(2) ul:nth-child(1) a:hover,.footer__info > div:nth-child(2) ul:nth-child(2) a:hover{color:#C5691C;border-color:#F7C882;}
.footer__info > div:nth-child(2) ul:nth-child(1) a:active,.footer__info > div:nth-child(2) ul:nth-child(2) a:active{color:#C5691C;border-color:#F7C882;}
.footer__info > div:nth-child(3){margin-left:auto;}
.footer__info > div:nth-child(4){margin-left:35px;margin-right:35px;}
.footer__info > div:nth-child(3) a, .footer__info > div:nth-child(4) a{font-size: 20px;line-height: 28px;font-family: 'Graphik LCGM';color: #31303E;}
.footer__info > div:nth-child(3) a:hover,.footer__info > div:nth-child(4) a:hover{color:#C5691C;border-color:#F7C882;}
.footer__info > div:nth-child(3) a:active,.footer__info > div:nth-child(4) a a:active{color:#C5691C;border-color:#F7C882;}
.footer__info > div:nth-child(3) p:nth-child(1), .footer__info > div:nth-child(4) p:nth-child(1){margin-bottom:22px;margin-top:18px;}
footer hr{margin:60px 0px 42px;border:0px;height:2px;background: #E6E9EC;}
.footer__last_row{align-items:center;}
.footer__last_row p:nth-child(1){font-size: 20px;line-height: 28px;font-family: 'Graphik LCGM';color: #31303E;}
.footer__last_row p:nth-child(1) span{font-size: 12px;line-height: 16px;text-transform: uppercase;display:block;color: #959595;font-family: 'Graphik LCGB';margin-bottom:16px;}
.footer__last_row p:nth-child(2){margin-left:auto;font-size: 16px;line-height: 20px;color: #8E9AA5;font-family: 'Graphik LCGM';}