@media screen and (max-width: 1500px)
{
	.center{width:1160px;}
	.block14__row p:nth-child(1){font-size: 40px;line-height: 40px;}
	.block14__row{max-width:none;}
}

@media screen and (max-width: 1300px)
{
	.center{width:900px;padding:0px 28px;}
	header.header_lk .header__menu .white:nth-child(3), header.header_lk .header__menu .white:nth-child(4), header.header_lk .header__menu .white:nth-child(5){margin-left:20px;}
	.header__row p{font-size: 40px;line-height: 42px;max-width:475px;}
	.block14__row p:nth-child(1){font-size: 36px;line-height: 38px;}
	.block14__info .input_item{max-width:396px;}
	.footer__info > div:nth-child(2){flex-direction:column;width:auto;margin-left:auto;}
	.footer__info > div:nth-child(2) ul:nth-child(1), .footer__info > div:nth-child(2) ul:nth-child(2){margin-left:0px;margin-right:0px;}
	.footer__info > div:nth-child(2) ul:nth-child(1){margin-bottom:20px;}
	footer{padding-top:70px;}
	footer hr{margin:40px 0px;}
}

@media screen and (max-width: 959px)
{
	.center{width:100%;box-sizing:border-box;}
	.header__row p{font-size: 32px;line-height: 36px;max-width:464px;}
	header.header_lk .header__menu button{display:none;}
	header.header_lk .header__menu button.burger{display:flex;margin-left:auto;}
	.block14{padding-bottom:50px;}
	.block14 .center{padding-bottom:60px;}
	.block14__row p:nth-child(1){font-size: 28px;line-height: 34px;}
	.block14__info .block14__reg_block > p{font-size: 16px;line-height: 19px;}
	.block14__info .input_block .input_item{max-width:300px;font-size: 16px;line-height: 19px;}
	.footer__info{flex-wrap:wrap;}
	.footer__info > div:nth-child(2){flex-direction:row;margin-left:0px;}
	.footer__info > div:nth-child(1){width:100%;flex-direction:row;margin-bottom:70px;align-items: center;}
	.footer__info > ul:nth-child(1){margin-left:0px;}
	.footer__last_row{align-items: flex-start;}
	.footer__info > div:nth-child(1) button{margin-top:0px;margin-left:auto;}
	.footer__info > div:nth-child(2) ul:nth-child(2){margin-left:40px;}
	.footer__info > div:nth-child(2) ul:nth-child(1) a, .footer__info > div:nth-child(2) ul:nth-child(2) a,.footer__info > div:nth-child(3) a, .footer__info > div:nth-child(4) a{font-size: 16px;line-height: 20px;}
	.footer__last_row p:nth-child(1){font-size: 16px;line-height: 19px;}
	footer{padding-top:60px;}
}

@media screen and (max-width: 767px)
{
	input::-webkit-input-placeholder, textarea::-webkit-input-placeholder  { font-size: 16px;line-height: 19px; }
	input:-ms-input-placeholder,  textarea:-ms-input-placeholder{ font-size: 16px;line-height: 19px; }
	input::-ms-input-placeholder, textarea::-ms-input-placeholder { font-size: 16px;line-height: 19px; }
	input::placeholder, textarea::placeholder { font-size: 16px;line-height: 19px; } 
	
	.center{width:100%;padding:0px 20px;box-sizing:border-box;}
	.header__row p,.header__row{max-width:none;}
	.header__row button{margin:40px auto 108px;width:100%;max-width:280px;}
	.block14__row p:nth-child(1){font-size: 24px;line-height: 28px;}
	.block14__row{flex-direction:column;align-items: flex-start;}
	.block14__row button{margin-left:0px;margin-top:40px;max-width:280px;}
	.block14__info .input_block > p{line-height:20px;}
	.block14__info .input_block{padding:38px 20px;}
	.block14{padding-bottom:40px;}
	.block14 .center{padding-bottom:0px;}
	.block14__info .input_block > .flex{flex-direction:column;}
	.block14__info .input_block .input_item{max-width:none;width:100%;}
	.block14__info .input_block .input_item:last-child{margin-top:20px;}
	.block14__info .input_block > .flex.fullwidth .input_item:last-child{margin-top:0px;}
	.block2__adress_block{margin-top:0px;padding:15px 0px;}
	.block2__adress_block_adresses{margin-top:0px;}
	.block2__adress_block_adresses > div{flex-direction:column;align-items:flex-start;padding-left:45px;padding-right:15px;}
	.block2__adress_block_adresses > div:nth-child(1):after, .block2__adress_block_adresses > div:nth-child(3):after{left:15px;top:28px;}
	.block2__adress_block_adresses > div:nth-child(2):after{left:22px;}
	.block2__adress_block_adresses > div .input_container label{flex-direction:column;position:relative;font-size:11px;}
	.block2__adress_block_adresses > div .input_container label .error_text{margin-left:0px;margin-top:10px;}
	.block14 .adress_list{padding:0px 15px;top:98%;}
	.block2__adress_block_adresses > div .buttons{margin-left:5px;padding-top:8px;}
	.block14 .block2__adress_block_container.error .adress_list{top:98%;}
	.block14 .adress_list .adress_list__row{margin-left:30px;flex-direction:column;}
	.block14 .adress_list .adress_list__row button{justify-content:flex-start;}
	.block14 .adress_list ul li{padding:13px 15px 13px 64px;}
	.block14 .adress_list.recent ul li:after{left:30px;}
	.block2__adress_block_adresses > div button{width:36px;height:36px;}
	.block2__delivery_block__info{flex-direction:column;}
	.block2__delivery_block{padding:15px;}
	.block2__adress_block_adresses > div .buttons button{width:36px;height:36px;}
	.block2__adress_block_adresses > div .input_container label.label_stop{top:12px;}
	.block2__delivery_block .block2__delivery_block__info > div:nth-child(1){margin-right:0px;margin-bottom:22px;}
	.block2__delivery_block .block2__delivery_block__info .input_container.input33{flex-direction:column;border:0px;border-radius: 0px;}
	.block2__delivery_block .block2__delivery_block__info .input_container.input33 > div{width:100%;border-right:0px;border:2px solid #E6E9EC;border-radius: 8px;margin-bottom:10px;box-sizing:border-box;}
	.block2__delivery_block .block2__delivery_block__info .input_container.input33 > div:last-child{border-right:2px solid #E6E9EC;margin-bottom:0px;}
	.block14 .center > button{padding:0px 20px;text-align:left;max-width:280px;box-sizing:border-box;}
	.block2__delivery_block .block2__delivery_block__info .input_item,
	.block2__delivery_block .block2__delivery_block__info .input_container.input33 > div:first-child,
	.block2__delivery_block .block2__delivery_block__info .input_container.input33 > div:last-child{max-width:none;border-radius:8px;}
	.footer__info > div:nth-child(1){flex-direction:column;align-items: flex-start;margin-bottom:40px;}
	.footer__info > div:nth-child(1) button{margin-top:20px;margin-left:0px;text-align:left;box-sizing:border-box;padding:0px 20px;width:100%;max-width:280px;justify-content:flex-start;}
	.footer__info > div:nth-child(2){flex-direction:column;width:100%;}
	.footer__info > div:nth-child(2) ul:nth-child(2){margin-left:0px;}
	.footer__info > div:nth-child(3){margin-left:0px;}
	.footer__info > div:nth-child(4){margin-right:0px;margin-left:60px;}
	footer{padding-top:50px;}
	footer hr{margin:40px 0px;}
	.footer__last_row{flex-direction:column;}
	.footer__last_row p:nth-child(2){margin-left:0px;margin-top:16px;}
	.block2__adress_block_adresses > div .input_container div{font-size: 15px;line-height: 18px;min-height:32px;height:auto;margin-bottom:0px;margin-top:15px;display:flex;align-items:center;}
	.footer__info > div:nth-child(2) ul:nth-child(1), .footer__info > div:nth-child(2) ul:nth-child(2){width:100%;}
}