header{background:#fdd041;}
.header__menu{padding:12px 0px;align-items: center;}
.header__menu button{margin-left:auto;height:49px;max-width:119px;}
.header__menu button img{margin-right:12px;}
.header__menu a:hover, .header__menu a{border:0px;}
.header__row{max-width:800px;margin-top:55px;}
.header__row button{width:229px;height:60px;margin-top:40px;margin-bottom:90px;}
.header__row button img{margin-right:12px;}
.header__row p{font-size: 48px;line-height: 52px;}


.block1 .center{padding-top:65px;padding-bottom:104px;}
.block1 ul, .block1 ul li{display:flex;}
.block1 ul{flex-wrap:wrap;max-width:750px;position:relative;z-index:2;}
.block1 ul li{width:42%;align-items:center;margin-bottom:60px;}
.block1 ul li:nth-child(2n){margin-left: 93px;}
.block1 ul li p{max-width:265px;font-family: 'Graphik LCGM';font-size: 20px;line-height: 28px;}
.block1 ul li span{display:flex;align-items:center;width:45px;justify-content:center;margin-right:20px;}
.block1 .block1__girl{position:absolute;right:-100px;bottom:0px;z-index:1;}


.block2{background: #F8FCF4;padding-top:105px;padding-bottom:100px;}
.block2__left_side{max-width:920px;}
.block2__left_side > p{color: #959595;font-size: 20px;line-height: 28px;font-family: 'Graphik LCGM';margin-top:30px;}
.block2__adress_block{background: #FFFFFF;box-shadow: 0px 30px 34px -20px rgba(147, 147, 142, 0.12);border-radius: 8px;padding:38px 0px;box-sizing:border-box;margin-top:55px;position:relative;z-index:2;}
.block2__adress_block_adresses {width:100%;}
.block2__adress_block_adresses .block2__border_block{border-bottom:2px solid #E6E9EC;padding-bottom:10px;width:100%;}
.block2__adress_block_adresses > div{display:flex;align-items: center;padding-left:97px;padding-right:40px;position:relative;}
.block2__adress_block_adresses > div:nth-child(1){z-index:2;}
.block2__adress_block_adresses > div:nth-child(1):after{content:url(../images/map_point_from.svg);position:absolute;left:48px;top:50%;transform:translate(0%, -50%);}
.block2__adress_block_adresses > div:nth-child(2){position:relative;}
.block2__adress_block_adresses > div:nth-child(2):after{content:url(../images/fixed_nav.svg);position:absolute;left:55px;top:50%;transform:translate(0%, -50%);}
.block2__adress_block_adresses > div:nth-child(3):after{content:url(../images/map_point_to.svg);position:absolute;left:48px;top:50%;transform:translate(0%, -50%);}
.block2__adress_block_adresses > div hr{border:0px;height:0px;background:#fff;margin:0px 0px;width:100%;margin-bottom:12px;}
.block2__adress_block_adresses > div .buttons button{background: #FFFFFF;border: 2px solid #E6E9EC;width:48px;height:48px;border-radius:50px;box-sizing: border-box;display:flex;align-items:center;justify-content:center;}
.block2__adress_block_adresses > div .input_container{background: #FFFFFF;display:flex;width:100%;flex-direction:column;position:relative;}
.block2__adress_block_adresses > div .buttons{height:100%;-webkit-transition: opacity 0.1s;-moz-transition: opacity 0.1s;-o-transition: opacity 0.1s;transition: opacity 0.1s;opacity:1;}
.block2__adress_block_adresses > div .buttons button{cursor:pointer;}
.block2__adress_block_adresses > div .input_container.active+.buttons{opacity:0;display:none;}
.block2__adress_block_adresses > div .input_container label{font-size: 12px;line-height: 16px;font-family: 'Graphik LCGB';color: #959595;text-transform: uppercase;margin-bottom:2px;position:absolute;top:12px;left:0px;-webkit-transition: top 0.1s;-moz-transition: top 0.1s;-o-transition: top 0.1s;transition: top 0.1s;cursor:text;display:flex;width:100%;}
.block2__adress_block_adresses > div .input_container label .error_text{margin-left:auto;}
.block2__adress_block_adresses > div .input_container label.label_stop{top:0px;}
.block2__adress_block_adresses > div .input_container input, .block2__adress_block_adresses > div .input_container div{border:0px;outline:none;min-height:32px;height:auto;font-size: 20px;line-height: 28px;color: #31303E;font-family: 'Graphik LCGM';width:100%;padding-right:10px;box-sizing:border-box;border-radius: 8px;margin-top:18px;}
.block2 .adress_list{position:absolute;left:0px;top:50px;background:#fff;width:100%;padding-left:40px;padding-right:40px;box-sizing:border-box;}
.block2 .adress_list .adress_list__row{flex-wrap:wrap;border-top:2px solid #E6E9EC;border-bottom:2px solid #E6E9EC;padding:3px 0px;margin-left:57px;box-sizing:border-box;}
.block2 .adress_list .adress_list__row button{align-items:center;width:auto;padding:0px;margin-right:40px;margin-top:11px;margin-bottom:11px;}
.block2 .adress_list .adress_list__row button:last-child{margin-right:0px;}
.block2 .adress_list .adress_list__row button span{font-size: 16px;color:#C5691C;line-height: 20px;font-family: 'Graphik LCGM';text-transform: initial;display:flex;text-align:left;}
.block2 .adress_list .adress_list__row button img{margin-right:16px;}
.block2 .adress_list ul{padding:8px 0px;}
.block2 .adress_list ul li{cursor:pointer;box-sizing:border-box;padding:13px 57px;font-family: 'Graphik LCGM';position:relative;padding-left:86px;}
.block2 .adress_list ul li:hover{background:#F8FCF4;color:#C5691C;}
.block2 .adress_list.recent{opacity:0;visibility:hidden;-webkit-transition: opacity 0.3s;-moz-transition: opacity 0.3s;-o-transition: opacity 0.3s;transition: opacity 0.3;}
.block2 .adress_list.book{opacity:0;visibility:hidden;}
.block2 .adress_list.recent.active, .block2 .adress_list.book.active{opacity:1;visibility:visible;}
.block2 .adress_list.recent ul li:after{content:url(../images/list_recent.svg);position:absolute;left:57px;top:50%;transform:translate(0%, -50%);}
.block2 .adress_list.book ul li:after{content:url(../images/list_book.svg);position:absolute;left:57px;top:50%;transform:translate(0%, -50%);}
.block2 .block2__adress_block_container .error_text{color: #FF4B4B;font-family: 'Graphik LCGM';margin-left:auto;display: none;align-items: center;font-size: 12px;line-height: 16px;text-transform: none;}
.block2 .block2__adress_block_container.error .error_text{display:flex;}
.block2 .block2__adress_block_container.error .adress_list__row{border-top:2px solid #FF4B4B;}
.block2 .block2__adress_block_container.error .input_container label{color:#FF4B4B;}
.block2__delivery_block{background: #FFFFFF;box-shadow: 0px 30px 34px -20px rgba(147, 147, 142, 0.12);border-radius: 8px;padding:38px 40px;box-sizing:border-box;margin-top:17px;margin-bottom:40px;}
.block2__delivery_block > p{font-size: 16px;color: #31303E;line-height: 20px;font-family: 'Graphik LCGM';}
.block2__delivery_block .block2__delivery_block__info{margin-top:39px;}
.block2__delivery_block .block2__delivery_block__info > div:nth-child(1){margin-right:60px;}
.block2__delivery_block .block2__delivery_block__info > div > p{font-size: 12px;line-height: 16px;font-family: 'Graphik LCGB';color: #959595;text-transform: uppercase;}
.block2__delivery_block .block2__delivery_block__info > div > p span{margin-left:12px;display:inline-block;background: #DBEDF8;border-radius: 100px;color: #31303E;padding:2px 9px;}
.block2__delivery_block .block2__delivery_block__info .input_container{margin-top:12px;border-radius: 8px;display:flex;}
.block2__delivery_block .block2__delivery_block__info .input_container.input33 > div{width:33.33333%;border-radius:0px;position:relative;z-index:1;}
.block2__delivery_block .block2__delivery_block__info .input_container.input33 > div:first-child{border-radius:8px 0px 0px 8px;}
.block2__delivery_block .block2__delivery_block__info .input_container.input33 > div:last-child{border-radius:0px 8px 8px 0px;}
.block2__delivery_block .block2__delivery_block__info .input_container.input33 > div:nth-child(2),.block2__delivery_block .block2__delivery_block__info .input_container.input33 > div:nth-child(3){margin-left:-2px;}
.block2__delivery_block .block2__delivery_block__info .input_container.input33 > div:hover,.block2__delivery_block .block2__delivery_block__info .input_container.input33 > div.focused{z-index:2;}
.block2__left_side > button{height:60px;max-width:387px;}
.block2__left_side > button img{margin-right:20px;}
.block2__right_side{margin-left:auto;max-width:360px;margin-top:200px;}
.block2__right_side > div{background: #F8FCF4;border: 2px solid #E6E9EC;box-sizing: border-box;border-radius: 8px;width:360px;box-shadow: 0px 30px 34px -20px rgba(147, 147, 142, 0.12);padding:37px;box-sizing:border-box;}
.block2__right_side > div img{margin-top:-115px;}
.block2__right_side > div p {font-size: 20px;line-height: 28px;font-family: 'Graphik LCGM';}
.block2__right_side > div p:nth-child(2){margin-bottom:11px;margin-top:-26px;}


.block3{background: #fff;padding:100px 0px;}
.block3__columns_list{width:100%;max-width:920px;margin-top:70px;}
.block3__columns_list li{background: #FFFFFF;border: 2px solid #E6E9EC;box-sizing: border-box;border-radius: 8px;display:flex;padding:0px 35px;margin-bottom:20px;flex-direction:column;}
.block3__columns_list li:last-child{margin-bottom:0px;}
.block3__columns_list li > label{font-size: 20px;line-height: 28px;min-height:76px;align-items:center;display:flex;width:100%;font-family: 'Graphik LCGM';cursor:pointer;}
.block3__columns_list li > label span{margin-left:auto;display:flex;background:rgba(253, 208, 65, 1);box-shadow:0px 4px 12px rgba(253, 208, 65, 0.4);min-width:48px;width:48px;height:48px;border-radius:50px;justify-content:center;align-items:center;-webkit-transition: background 0.3s ease;-moz-transition: background 0.3s ease;-o-transition: background 0.3s ease;transition: background 0.3s ease;}
.block3__columns_list li > label span img{transition: transform 0.3s ease;}
.block3__columns_list li.active > label span img{transform:rotate(-180deg);}
.block3__columns_list li > label span:hover{background:rgba(253, 208, 65, 0.8);}
.block3__columns_list li > label span:active{background:rgba(253, 208, 65, 0.9);}
.block3__columns_list li > div{display:none;}
.block3__columns_list li hr{border:0px;height:2px;background:#E6E9EC;margin-bottom:23px;}
.block3__columns_list li p {margin-bottom:12px;font-size: 16px;line-height: 20px;font-family: 'Graphik LCGM';}
.block3__columns_list li p:last-child{margin-bottom:32px;}
.block3__columns_info{max-width:285px;margin-left:120px;margin-right:auto;display:flex;justify-content:flex-end;flex-direction:column;align-items:flex-start;}
.block3__columns_info img{margin-bottom:28px;}
.block3__columns_info p{font-size: 20px;line-height: 28px;font-family: 'Graphik LCGM';}
.block3__columns_info p a{font-size: 16px;line-height: 20px;text-transform: uppercase;font-family: 'Graphik LCGB';margin-top:12px;}


.block4{background: #fff;padding:175px 0px 100px;}
.block4__info{align-items: center;}
.block4__info > div{width:100%;max-width:750px;}
.block4__info h2{margin-bottom:29px;}
.block4__info p {font-size: 20px;line-height: 28px;color: #959595;font-family: 'Graphik LCGM';}
.block4__info button{height:60px;max-width:337px;margin-left:auto;}
.block4__info button img{margin-right:20px;}
.block4 ul{flex-wrap:wrap;margin-top:57px;}
.block4 ul li{background: #FFFFFF;border: 2px solid #E6E9EC;box-sizing: border-box;box-shadow: 0px 30px 34px -20px rgba(147, 147, 142, 0.12);display:flex;align-items:center;justify-content:center;border-radius: 8px;margin-right:36px;margin-bottom:40px;}
.block4 ul li:nth-child(6n){margin-right:0px;}


.block5{background:#fdd041;}
.block5 .center{padding:100px 0px;}
.block5__info{max-width:675px;}
.block5__info p:nth-child(1){font-size: 48px;line-height: 52px;color: #31303E;}
.block5__info button{max-width:310px;height:60px;margin-top:41px;}
.block5__info button img{margin-right:20px;}
.block5 .drone{position:absolute;right:0px;top:40px;}


footer{background:#fff;padding:100px 0px 48px;}
.footer__info > div:nth-child(1){min-width:247px;}
.footer__info > div:nth-child(1) p:nth-child(1){font-size: 24px;line-height: 32px;font-family: 'Graphik LCGB';margin-bottom:8px;}
.footer__info > div:nth-child(1) p:nth-child(1) a{color:#31303E;border-bottom:0px;}
.footer__info > div:nth-child(1) p:nth-child(2) a{font-size: 16px;line-height: 20px;font-family: 'Graphik LCGB';text-transform: uppercase;}
.footer__info > div:nth-child(1) button{max-width:247px;height:60px;margin-top:38px;}
.footer__info > div:nth-child(1) button img{margin-right:20px;}
.footer__info > div:nth-child(2){margin-left:auto;width:100%;}
.footer__info > div:nth-child(2) ul:nth-child(1), .footer__info > div:nth-child(2) ul:nth-child(2){margin-left:auto;} 
.footer__info > div:nth-child(2) ul:nth-child(2){margin-right:auto;}
.footer__info > div:nth-child(2) ul:nth-child(1) li,.footer__info > div:nth-child(2) ul:nth-child(2) li{margin-bottom:20px;}
.footer__info > div:nth-child(2) ul:nth-child(1) li:last-child,.footer__info > div:nth-child(2) ul:nth-child(2) li:last-child{margin-bottom:0px;}
.footer__info > div:nth-child(2) ul:nth-child(1) a,.footer__info > div:nth-child(2) ul:nth-child(2) a{font-size: 20px;line-height: 28px;color: #31303E;font-family: 'Graphik LCGM';border-bottom:2px solid #E6E9EC;}
.footer__info > div:nth-child(2) ul:nth-child(1) a:hover,.footer__info > div:nth-child(2) ul:nth-child(2) a:hover{color:#C5691C;border-color:#F7C882;}
.footer__info > div:nth-child(2) ul:nth-child(1) a:active,.footer__info > div:nth-child(2) ul:nth-child(2) a:active{color:#C5691C;border-color:#F7C882;}
.footer__info > div:nth-child(3){margin-left:auto;}
.footer__info > div:nth-child(4){margin-left:35px;margin-right:35px;}
.footer__info > div:nth-child(3) a, .footer__info > div:nth-child(4) a{font-size: 20px;line-height: 28px;font-family: 'Graphik LCGM';color: #31303E;}
.footer__info > div:nth-child(3) a:hover,.footer__info > div:nth-child(4) a:hover{color:#C5691C;border-color:#F7C882;}
.footer__info > div:nth-child(3) a:active,.footer__info > div:nth-child(4) a a:active{color:#C5691C;border-color:#F7C882;}
.footer__info > div:nth-child(3) p:nth-child(1), .footer__info > div:nth-child(4) p:nth-child(1){margin-bottom:22px;margin-top:18px;}
footer hr{margin:60px 0px 42px;border:0px;height:2px;background: #E6E9EC;}
.footer__last_row{align-items:center;}
.footer__last_row p:nth-child(1){font-size: 20px;line-height: 28px;font-family: 'Graphik LCGM';color: #31303E;}
.footer__last_row p:nth-child(1) span{font-size: 12px;line-height: 16px;text-transform: uppercase;display:block;color: #959595;font-family: 'Graphik LCGB';margin-bottom:16px;}
.footer__last_row p:nth-child(2){margin-left:auto;font-size: 16px;line-height: 20px;color: #8E9AA5;font-family: 'Graphik LCGM';}
