@media screen and (max-width: 1500px)
{
	.center{width:1160px;}
	.block1 .center{padding-bottom:35px;}
	.header__row p{line-height: 48px;max-width:660px;}
	h2, .block5__info p:nth-child(1){font-size: 40px;line-height: 40px;}
	.block1 .block1__girl{right:-164px;max-width:819px;}
	.block2{padding-top:80px;}
	.block3, .block4{padding:80px 0px;}
	.block5 .center{padding:80px 28px;}
	footer{padding-top:80px;}
	.header__row button{margin-bottom:80px;}
	.block2__adress_block , .block2__delivery_block{max-width:700px;} 
	.block3__columns_list{max-width:700px;}
	.block4 ul li{margin-right:35px;margin-bottom:35px;}
	.block4 ul li:nth-child(5n){margin-right:0px;}
	.block4 ul li:nth-child(6n){margin-right:35px;}
	.block5 .drone{top:10px;height:360px;right:-5px;}
}

@media screen and (max-width: 1300px)
{
	.center{width:900px;padding:0px 28px;}
	.header__row p{font-size: 40px;line-height: 42px;max-width:475px;}
	.block1 .block1__girl{right:0px;max-width:480px;bottom:150px;right:70px;}
	.block1 ul li{width:44%;}
	.block1 ul{max-width:777px;}
	.block2{padding-top:70px;}
	.block3, .block4{padding:70px 0px;}
	.block5 .center{padding:70px 28px;}
	footer{padding-top:70px;}
	.header__row button{margin-bottom:70px;}
	.block2__adress_block, .block2__delivery_block{max-width:none;width:100%;}
	.block2 .center{flex-direction:column;}
	h2, .block5__info p:nth-child(1){font-size: 36px;line-height: 38px;}
	.block2__right_side{margin-top:60px;max-width:none;width:100%;}
	.block2__right_side > div{width:100%;position:relative;}
	.block2__right_side > div p{max-width:468px;}
	.block2__right_side > div img{margin-top:0px;position:absolute;top:-45px;right:0px;}
	.block2__right_side > div p:nth-child(2){margin-top:0px;}
	.block3__columns{flex-direction:column;}
	.block3__columns_list{max-width:none;width:100%;}
	.block3__columns_info{max-width:425px;flex-direction:row;margin:40px auto 0px;}
	.block3__columns_info img{margin-right:40px;}
	.block4 ul li:nth-child(4n){margin-right:0px;}
	.block4 ul li:nth-child(5n), .block4 ul li:nth-child(6n){margin-right:28px;}
	.block4 ul li{margin-right:28px;margin-bottom:28px;}
	.block5__info{max-width:590px;}
	.block5{overflow:hidden;}
	.block5 .drone{max-width:318px;right:15px;top:-15px;}
	.footer__info > div:nth-child(2){flex-direction:column;width:auto;margin-left:auto;}
	.footer__info > div:nth-child(2) ul:nth-child(1), .footer__info > div:nth-child(2) ul:nth-child(2){margin-left:0px;margin-right:0px;}
	.footer__info > div:nth-child(2) ul:nth-child(1){margin-bottom:20px;}
}

@media screen and (max-width: 959px)
{
	.center{width:100%;box-sizing:border-box;}
	.header__row p{font-size: 32px;line-height: 36px;max-width:464px;}
	.block2{padding-top:60px;overflow:hidden;}
	.block3, .block4{padding:60px 0px;}
	.block5 .center{padding:60px 28px;}
	footer{padding:60px 0px 40px;}
	.header__row button{margin-bottom:60px;}
	.block1 ul li:nth-child(2n){margin-left:auto;}
	.block1 .block1__girl{right:0px;max-width: 404px;}
	h2, .block5__info p:nth-child(1){font-size: 28px;line-height: 34px;}
	.block2__left_side > p, .block4__info p, .footer__last_row p:nth-child(1){font-size: 16px;line-height: 19px;}
	.block4 ul li img{width:166px;}
	.block4 ul li:nth-child(4n){margin-right:0px;}
	.block4 ul li:nth-child(5n), .block4 ul li:nth-child(6n){margin-right:11px;}
	.block4 ul li{margin-right:11px;margin-bottom:11px;}
	h2, .block5__info p:nth-child(1){max-width:399px;}
	.footer__info{flex-wrap:wrap;}
	.footer__info > div:nth-child(2){flex-direction:row;margin-left:0px;}
	.footer__info > div:nth-child(1){width:100%;flex-direction:row;margin-bottom:70px;align-items: center;}
	.footer__info > ul:nth-child(1){margin-left:0px;}
	.footer__last_row{align-items: flex-start;}
	.footer__info > div:nth-child(1) button{margin-top:0px;margin-left:auto;}
	.footer__info > div:nth-child(2) ul:nth-child(2){margin-left:40px;}
	.footer__info > div:nth-child(2) ul:nth-child(1) a, .footer__info > div:nth-child(2) ul:nth-child(2) a,.footer__info > div:nth-child(3) a, .footer__info > div:nth-child(4) a{font-size: 16px;line-height: 20px;}
	.footer__last_row p:nth-child(1){font-size: 16px;line-height: 19px;}
	.block2__right_side > div img{right: -95px;}
}

@media screen and (max-width: 767px)
{
	input::-webkit-input-placeholder, textarea::-webkit-input-placeholder  { font-size: 16px;line-height: 19px; }
	input:-ms-input-placeholder,  textarea:-ms-input-placeholder{ font-size: 16px;line-height: 19px; }
	input::-ms-input-placeholder, textarea::-ms-input-placeholder { font-size: 16px;line-height: 19px; }
	input::placeholder, textarea::placeholder { font-size: 16px;line-height: 19px; } 
	
	.center{width:100%;padding:0px 20px;box-sizing:border-box;}
	header .header__menu a img{max-width:120px;}
	.header__menu button{max-width:105px;}
	.header__row p,.header__row{max-width:none;}
	.header__row button{margin:40px auto 108px;width:100%;max-width:280px;}
	.block1 .block1__girl{position:relative;order:1;max-width:315px;height:auto;margin:0px auto;bottom:0px;margin-top:-150px;width:100%;}
	.block1 ul{max-width:none;order:2;flex-wrap:nowrap;flex-direction:column;width:100%;max-width:300px;margin:0px auto;}
	.block1 ul li{width:100%;display: flex;justify-content: flex-start;}
	.block1 ul li:last-child{margin-bottom:0px;}
	.block1 ul li:nth-child(2n){margin-left:0px;}
	.block1 ul li p{font-size: 16px;line-height: 19px;}
	h2, .block5__info p:nth-child(1){font-size: 24px;line-height: 28px;}
	.block2{padding-top:40px;}
	.block3, .block4{padding:40px 0px;}
	.block5 .center{padding:20px 20px 60px 20px;}
	footer{padding:40px 0px 40px;}
	.block2__adress_block_adresses > div .buttons{margin-left:5px;padding-top:9px;}
	.block2__adress_block{margin-top:40px;padding:15px 0px;}
	.block2__adress_block_adresses > div{flex-direction:column;align-items:flex-start;padding-left:45px;padding-right:15px;}
	.block2__adress_block_adresses > div:nth-child(1):after, .block2__adress_block_adresses > div:nth-child(3):after{left:15px;top:28px;}
	.block2__adress_block_adresses > div:nth-child(2):after{left:22px;}
	.block2__adress_block_adresses > div .input_container label{flex-direction:column;position:relative;font-size:11px;}
	.block2__adress_block_adresses > div .input_container label .error_text{margin-left:0px;margin-top:10px;}
	.block2 .adress_list{padding:0px 15px;top:75px;}
	.block2 .block2__adress_block_container.error .adress_list{top:104px;}
	.block2 .adress_list .adress_list__row{margin-left:30px;flex-direction:column;}
	.block2 .adress_list .adress_list__row button{justify-content:flex-start;}
	.block2 .adress_list ul li{padding:13px 15px 13px 64px;}
	.block2 .adress_list.recent ul li:after{left:30px;}
	.block2__adress_block_adresses > div button{width:36px;height:36px;}
	.block2__delivery_block__info{flex-direction:column;}
	.block2__delivery_block{padding:15px;}
	.block2__adress_block_adresses > div .buttons button{width:36px;height:36px;}
	.block2__adress_block_adresses > div .input_container label.label_stop{top:12px;}
	.block2__delivery_block .block2__delivery_block__info > div:nth-child(1){margin-right:0px;margin-bottom:22px;}
	.block2__delivery_block .block2__delivery_block__info > div:nth-child(1){margin-right:0px;margin-bottom:22px;}
	.block2__delivery_block .block2__delivery_block__info .input_container.input33{flex-direction:column;border:0px;border-radius: 0px;}
	.block2__delivery_block .block2__delivery_block__info .input_container.input33 > div{width:100%;border-right:0px;border:2px solid #E6E9EC;border-radius: 8px;margin-bottom:10px;box-sizing:border-box;}
	.block2__delivery_block .block2__delivery_block__info .input_container.input33 > div:last-child{border-right:2px solid #E6E9EC;margin-bottom:0px;}
	.block2__delivery_block .block2__delivery_block__info .input_item,
	.block2__delivery_block .block2__delivery_block__info .input_container.input33 > div:first-child,
	.block2__delivery_block .block2__delivery_block__info .input_container.input33 > div:last-child{max-width:none;border-radius:8px;}
	.block2__left_side > button{max-width:280px;padding:0px 20px;text-align:left;margin:0px auto;}
	.block2__right_side > div img{position:relative;top:0px;right:0px;width:100%;max-width:290px;margin:-82px auto 0px;display:block;}
	.block2__right_side{margin-top:100px;}
	.block2__right_side > div{padding:38px 18px;}
	.block2__right_side > div p{max-width:none;font-size: 16px;line-height: 19px;}
	.block2__right_side > div p:nth-child(2){margin-top:-20px;}
	.block3__columns_list li{padding:20px 20px;}
	.block3__columns_list li > label{font-size: 16px;line-height:20px;position:relative;padding-right:60px;box-sizing:border-box;}
	.block3__columns_list li > label span{position:absolute;right:0px;top:50%;transform:translate(0%,-50%);}
	.block3__columns_list li hr{margin-top:23px;}
	.block3__columns_list li p:last-child{margin-bottom:0px;}
	.block3__columns_info{flex-direction:column;}
	.block3__columns_info p{font-size: 16px;line-height: 19px;}
	.block4__info{flex-direction:column;}
	.block4__info button{padding:0px 20px;max-width:450px;text-align:left;margin:40px auto 0px;}
	.block4 ul{display:flex;max-width:450px;margin:57px auto 0px;}
	.block4 ul li{margin-bottom:20px;margin-right:0px;width:48%;display:inline-block;text-align:center;max-width:200px;}
	.block4 ul li img{max-width:200px;width:100%;}
	.block4 ul li:nth-child(2n){margin-left:auto;}
	.block4 ul li:nth-child(4n){margin-right:0px;}
	.block4 ul li:nth-child(5n), .block4 ul li:nth-child(6n){margin-right:0px;}
	.block5 .center{flex-direction:column;}
	.block5__info{max-width:none;order:2;}
	.block5 .drone{position:relative;top:0px;right:0px;order:1;width:100%;margin:0px auto 30px;height:auto;}
	.block5__info button{max-width:280px;margin:41px auto 0px;}
	.block3__columns_list{margin-top:30px;}
	.footer__info > div:nth-child(1){flex-direction:column;align-items: flex-start;margin-bottom:40px;}
	.footer__info > div:nth-child(1) button{margin-top:20px;margin-left:0px;text-align:left;box-sizing:border-box;padding:0px 20px;width:100%;max-width:280px;justify-content:flex-start;}
	.footer__info > div:nth-child(2){flex-direction:column;width:100%;}
	.footer__info > div:nth-child(2) ul:nth-child(2){margin-left:0px;}
	.footer__info > div:nth-child(3){margin-left:0px;}
	.footer__info > div:nth-child(4){margin-right:0px;margin-left:60px;}
	footer hr{margin:40px 0px;}
	.footer__last_row{flex-direction:column;}
	.footer__last_row p:nth-child(2){margin-left:0px;margin-top:16px;}
	.block2__adress_block_adresses > div .input_container div{font-size: 15px;line-height: 18px;min-height:32px;height:auto;margin-bottom:0px;margin-top:15px;display:flex;align-items:center;}
	.footer__info > div:nth-child(2) ul:nth-child(1), .footer__info > div:nth-child(2) ul:nth-child(2){width:100%;}
}