@media screen and (max-width: 1500px)
{
	.center{width:1160px;}
	.block6__offers_block{max-width:560px;}
	.block6__offers_block .offers_description .offer_options div:last-child{margin-right:0px;}
	.block6__row p{font-size: 40px;line-height: 40px;}
	.block6__table .row .cell:nth-child(2), .block6__table .row .cell:nth-child(3), .block6__table .row .cell:nth-child(4), .block6__table .row .cell:nth-child(5){width:15%;}
	.block6__table .row .cell:nth-child(1){width:20%;}
}

@media screen and (max-width: 1300px)
{
	.center{width:900px;padding:0px 28px;}
	header.header_lk .header__menu .white:nth-child(3), header.header_lk .header__menu .white:nth-child(4), header.header_lk .header__menu .white:nth-child(5){margin-left:20px;}
	.block6__offers{flex-direction:column;}
	.block6__offers_block{max-width:none;width:100%;}
	.block6__offers_block .offers_description .offer_options{max-width:464px;}
	.block6__offers_block.cheap{margin-top:35px;}
	.block6__row p{font-size: 36px;line-height: 38px;}
	.block6__table .row{flex-wrap:wrap;}
	.block6__table .row .cell:nth-child(1){width:22%;}
	.block6__table .row .cell:nth-child(2), .block6__table .row .cell:nth-child(3), .block6__table .row .cell:nth-child(4), .block6__table .row .cell:nth-child(5){width:18%;}
	.block6__table .row .cell:last-child{width:100%;padding-top:0px;}
	.block6__table .row .cell:last-child button{margin-left:0px;}
	.block6__table .row.th .cell:last-child{display:none;}
	.block6__table .row .cell{padding:14px 24px;}
	.block6__table .row .cell button{max-width:190px;}
	.footer__info{flex-wrap:wrap;}
	.footer__info > div:nth-child(2){flex-direction:column;width:auto;margin-left:auto;}
	.footer__info > div:nth-child(2) ul:nth-child(1), .footer__info > div:nth-child(2) ul:nth-child(2){margin-left:0px;margin-right:0px;}
	.footer__info > div:nth-child(2) ul:nth-child(1){margin-bottom:20px;}
	footer{padding-top:70px;}
	footer hr{margin:40px 0px;}
}

@media screen and (max-width: 959px)
{
	.center{width:100%;box-sizing:border-box;}
	header.header_lk .header__menu button{display:none;}
	header.header_lk .header__menu button.burger{display:flex;margin-left:auto;}
	.block6__row p{font-size: 28px;line-height: 34px;}
	.block6__table .row.th{display:none;}
	.footer__info > ul:nth-child(2) a, .footer__info > ul:nth-child(3) a,.footer__info > div:nth-child(4) a, .footer__info > div:nth-child(5) a{font-size: 16px;line-height: 20px;}
	.block6__table .row{flex-direction:column;flex-wrap:nowrap;}
	.block6__table .row .cell .cell_mobile{display:flex;min-width:140px;}
	.block6__table .row .cell:nth-child(1){padding-top:24px;}
	.block6__table .row .cell:nth-child(6){padding-bottom:24px;}
	.block6__table .row .cell:nth-child(1), 
	.block6__table .row .cell:nth-child(2), 
	.block6__table .row .cell:nth-child(3), 
	.block6__table .row .cell:nth-child(4), 
	.block6__table .row .cell:nth-child(5),
	.block6__table .row .cell:nth-child(6){width:100%;}
	.block6__table .row .cell button{max-width:220px;}
	.footer__info{flex-wrap:wrap;}
	.footer__info > div:nth-child(2){flex-direction:row;margin-left:0px;}
	.footer__info > div:nth-child(1){width:100%;flex-direction:row;margin-bottom:70px;align-items: center;}
	.footer__info > ul:nth-child(1){margin-left:0px;}
	.footer__last_row{align-items: flex-start;}
	.footer__info > div:nth-child(1) button{margin-top:0px;margin-left:auto;}
	.footer__info > div:nth-child(2) ul:nth-child(2){margin-left:40px;}
	.footer__info > div:nth-child(2) ul:nth-child(1) a, .footer__info > div:nth-child(2) ul:nth-child(2) a,.footer__info > div:nth-child(3) a, .footer__info > div:nth-child(4) a{font-size: 16px;line-height: 20px;}
	.footer__last_row p:nth-child(1){font-size: 16px;line-height: 19px;}
	footer{padding-top:60px;}
}

@media screen and (max-width: 767px)
{
	.center{width:100%;padding:0px 20px;box-sizing:border-box;}
	.block6 .center{padding:40px 20px 40px 20px;}
	.block6__row p{font-size: 24px;line-height: 28px;}
	.block6__row{flex-direction:column;align-items: flex-start;}
	.block6__row button{margin-left:0px;margin-top:20px;text-align:left;padding:0px 32px;}
	.block6__offers_block > div > div .offers_description{flex-direction:column;}
	.block6__offers_block > div > div .offers_description > div:first-child{margin-bottom:20px;}
	.block6__offers_block .offers_description .offer_options{flex-direction:column;margin-top:20px;max-width:none;}
	.block6__offers_block .offers_description .offer_options div{margin-right:0px;margin-bottom:20px;width:100%;}
	.block6__offers_block .offers_price{flex-direction:column;}
	.block6__offers_block .offers_price button{margin-left:0px;margin-top:20px;}
	.block6__results,.block6__table .block6__table_body{margin-top:40px;}
	.block6__table .row .cell{flex-direction:column;width:100%;padding:10px 20px;align-items: flex-start;}
	.block6__table .row .cell .cell_mobile{width:100%;margin-bottom:10px;}
	.block6__table .row .cell button{margin:0px auto;width:100%;max-width:280px;}
	.block6__table_pagination{flex-direction:column;}
	.block6__table_pagination ul{position:relative;top:0px;left:0px;margin:20px auto;}
	.block6__table_pagination button{margin:25px auto;width:100%;max-width:240px;}
	footer{padding:50px 0px;}
	.footer__info > div:nth-child(1){flex-direction:column;align-items: flex-start;margin-bottom:40px;}
	.footer__info > div:nth-child(1) button{margin-top:20px;margin-left:0px;text-align:left;box-sizing:border-box;padding:0px 20px;width:100%;max-width:280px;justify-content:flex-start;}
	.footer__info > div:nth-child(2){flex-direction:column;width:100%;}
	.footer__info > div:nth-child(2) ul:nth-child(2){margin-left:0px;}
	.footer__info > div:nth-child(3){margin-left:0px;}
	.footer__info > div:nth-child(4){margin-right:0px;margin-left:60px;}
	footer hr{margin:40px 0px;}
	.footer__last_row{flex-direction:column;}
	.footer__last_row p:nth-child(2){margin-left:0px;margin-top:16px;}
	.block2__adress_block_adresses > div .input_container div{font-size: 15px;line-height: 18px;min-height:32px;height:auto;margin-bottom:0px;margin-top:15px;display:flex;align-items:center;}
	.footer__info > div:nth-child(2) ul:nth-child(1), .footer__info > div:nth-child(2) ul:nth-child(2){width:100%;}
}