header.header_lk{background:#fff;position:relative;}
header .header__menu {padding: 12px 0px;align-items: center;}
header.header_lk .header__menu .yellow{max-width:204px;margin-left:auto;}
header.header_lk .header__menu .yellow img{margin-right:12px;}
header.header_lk .header__menu button{height:49px;}
header.header_lk .header__menu .white:nth-child(3){margin-left:40px;max-width:191px;}
header.header_lk .header__menu .white:nth-child(4){margin-left:40px;max-width:90px;}
header.header_lk .header__menu .white:nth-child(5){margin-left:40px;max-width:191px;color:#31303E;}
header.header_lk .header__menu .white:nth-child(5) img{margin-left:15px;margin-right:0px;}
header.header_lk .header__menu button.burger{max-width:35px;display:none;}
header.header_lk .header__menu_mobile{position: absolute;top: 0px;left: 0px;width: 100%;background: #fff;z-index:5;display:none;}
header .mobile_row {text-align:right;padding:23px 0px;margin-bottom:108px;}
header .header__menu_mobile button.yellow{height:52px;margin-bottom:12px;}
header .header__menu_mobile button img{margin-right:12px;}
header .header__menu_mobile button:nth-child(3){margin-top: 28px;margin-bottom: 31px;}
header .header__menu_mobile button.user{border-top:2px solid #E6E9EC;margin-top: 131px;padding: 29px 0px;color:#31303E;}
header .header__menu_mobile button.user img{margin-right:0px;margin-left:12px;}


.block6{background:#F0F4F9;}
.block6 .center{padding-top:65px;padding-bottom:104px;}
.block6__row {align-items:center;}
.block6__row p{font-size: 48px;line-height: 52px;}
.block6__row button{max-width:382px;margin-left:auto;height:60px;}
.block6__row button img{margin-right:20px;}
.block6__offers{margin-top:51px;justify-content: center;}
.block6__offers > div > p{font-size: 24px;line-height: 32px;font-family: 'Graphik LCGB';}
.block6__offers_block{width:100%;max-width:680px;}
.block6__offers_block.cheap{margin-left:auto;}
.block6__offers_block > div{padding:24px;box-sizing:border-box;background: #FDD041;box-shadow: 0px 30px 34px -20px rgba(147, 147, 142, 0.12);border-radius: 8px;margin-top: 12px;}
.block6__offers_block > div > div{width:100%;}
.block6__offers_block .offers_description > div{width:100%;}
.block6__offers_block .offers_description > div:first-child{max-width:133px;position:relative;margin-right:35px;}
.block6__offers_block .offers_description > div:first-child .offer_icon{position:absolute;right:0px;top:-6px;}
.block6__offers_block .offers_description > div:first-child .offer_icon_another{position:absolute;right:32px;top:-6px;}
.block6__offers_block .offers_description > div:last-child p, .block6__offers_block .offers_price .block6_offer_header p{font-family: 'Graphik LCGM';}
.block6__offers_block .offers_description > div:last-child .block6_offer_header, .block6__offers_block .offers_price .block6_offer_header{font-size: 12px;line-height: 16px;text-transform: uppercase;font-family: 'Graphik LCGB';margin-bottom:9px;}
.block6__offers_block .offers_description .offer_options{margin-top:35px;}
.block6__offers_block .offers_description .offer_options div{margin-right:auto;}
.block6__offers_block .offers_description .offer_options div:last-child{margin-right:25px;}
.block6__offers_block > div > div hr{background: #31303E;opacity: 0.1;border:0px;height:2px;margin:22px 0px;}
.block6__offers_block .offers_price button{max-width:243px;height:60px;margin-left:auto;}
.block6__offers_block .offers_price .block6_offer_header p{margin-top:2px;}
.block6__offers_block .offers_price p:last-child{font-size: 20px;line-height: 28px;font-family: 'Graphik LCGM';}
.block6__offers_block.cheap > div{background:#31303E;}
.block6__offers_block.cheap > div > div hr{background:#fff;}
.block6__offers_block.cheap > div p{color:#fff;}
.block6__results{margin:60px 0px 0px;}
.block6__results button{color:#C5691C;background:transparent;padding:0px;width:auto;border-radius:0px;}
.block6__results button .hide{display:none;}
.block6__results button img{margin-right:20px;transform:rotate(-180deg);-webkit-transition: transform 0.3s ease;-moz-transition: transform 0.3s ease; o-transition: transform 0.3s ease;transition: transform 0.3s ease;}
.block6__results button.open img{transform:rotate(0deg);}
.block6__results button.open .show{display:none;}
.block6__results button.open .hide{display:block;}
.block6__table{box-shadow: 0px 30px 34px -20px rgba(147, 147, 142, 0.12);border-collapse: collapse;display:none;}
.block6__table .block6__table_body{display:flex;flex-direction:column;margin-top:60px;background:#fff;border-radius: 8px 8px 0px 0px;}
.block6__table .row{display:flex;border-bottom:2px solid #E6E9EC;width:100%;justify-content: space-between;}
.block6__table .row .cell{display:flex;padding:27px 24px;font-family: 'Graphik LCGM';align-items: center;box-sizing:border-box;}
.block6__table .row .cell .cell_mobile{display:none;font-size: 12px;line-height: 16px;color: #959595;font-family: 'Graphik LCGB';text-transform: uppercase;}
.block6__table .row .cell button{width:100%;max-width:220px;height:45px;margin-left:auto;}
.block6__table .row.th .cell{color: #959595;text-transform: uppercase;font-family: 'Graphik LCGB';font-size: 12px;line-height: 16px;padding:22px 24px;}
.block6__table .row .cell:nth-child(1){width:30%;}
.block6__table .row .cell:nth-child(2), .block6__table .row .cell:nth-child(3),.block6__table .row .cell:nth-child(4),.block6__table .row .cell:nth-child(5){width:12%;}
.block6__table .row .cell:nth-child(6){width:22%;}
.block6__table_pagination{position:relative;background:#fff;border-radius: 0px 0px 8px 8px;}
.block6__table_pagination button{max-width:288px;height:60px;margin:40px auto;}
.block6__table_pagination ul{position:absolute;right:30px;top:50%;transform:translate(0%, -50%);}
.block6__table_pagination ul li{margin:0px 10px;color: #959595;}
.block6__table_pagination ul li a{color: #959595;font-family: 'Graphik LCGM';border-bottom:0px;-webkit-transition: opacity 0.3s ease;-moz-transition: opacity 0.3s ease; o-transition: opacity 0.3s ease;transition: opacity 0.3s ease;}
.block6__table_pagination ul li a:hover{opacity:0.8;}
.block6__table_pagination ul li.active a{color: #31303E;}

footer{background:#fff;padding:100px 0px 48px;}
.footer__info > div:nth-child(1){min-width:247px;}
.footer__info > div:nth-child(1) p:nth-child(1){font-size: 24px;line-height: 32px;font-family: 'Graphik LCGB';margin-bottom:8px;}
.footer__info > div:nth-child(1) p:nth-child(1) a{color:#31303E;border-bottom:0px;}
.footer__info > div:nth-child(1) p:nth-child(2) a{font-size: 16px;line-height: 20px;font-family: 'Graphik LCGB';text-transform: uppercase;}
.footer__info > div:nth-child(1) button{max-width:247px;height:60px;margin-top:38px;}
.footer__info > div:nth-child(1) button img{margin-right:20px;}
.footer__info > div:nth-child(2){margin-left:auto;width:100%;}
.footer__info > div:nth-child(2) ul:nth-child(1), .footer__info > div:nth-child(2) ul:nth-child(2){margin-left:auto;} 
.footer__info > div:nth-child(2) ul:nth-child(2){margin-right:auto;}
.footer__info > div:nth-child(2) ul:nth-child(1) li,.footer__info > div:nth-child(2) ul:nth-child(2) li{margin-bottom:20px;}
.footer__info > div:nth-child(2) ul:nth-child(1) li:last-child,.footer__info > div:nth-child(2) ul:nth-child(2) li:last-child{margin-bottom:0px;}
.footer__info > div:nth-child(2) ul:nth-child(1) a,.footer__info > div:nth-child(2) ul:nth-child(2) a{font-size: 20px;line-height: 28px;color: #31303E;font-family: 'Graphik LCGM';border-bottom:2px solid #E6E9EC;}
.footer__info > div:nth-child(2) ul:nth-child(1) a:hover,.footer__info > div:nth-child(2) ul:nth-child(2) a:hover{color:#C5691C;border-color:#F7C882;}
.footer__info > div:nth-child(2) ul:nth-child(1) a:active,.footer__info > div:nth-child(2) ul:nth-child(2) a:active{color:#C5691C;border-color:#F7C882;}
.footer__info > div:nth-child(3){margin-left:auto;}
.footer__info > div:nth-child(4){margin-left:35px;margin-right:35px;}
.footer__info > div:nth-child(3) a, .footer__info > div:nth-child(4) a{font-size: 20px;line-height: 28px;font-family: 'Graphik LCGM';color: #31303E;}
.footer__info > div:nth-child(3) a:hover,.footer__info > div:nth-child(4) a:hover{color:#C5691C;border-color:#F7C882;}
.footer__info > div:nth-child(3) a:active,.footer__info > div:nth-child(4) a a:active{color:#C5691C;border-color:#F7C882;}
.footer__info > div:nth-child(3) p:nth-child(1), .footer__info > div:nth-child(4) p:nth-child(1){margin-bottom:22px;margin-top:18px;}
footer hr{margin:60px 0px 42px;border:0px;height:2px;background: #E6E9EC;}
.footer__last_row{align-items:center;}
.footer__last_row p:nth-child(1){font-size: 20px;line-height: 28px;font-family: 'Graphik LCGM';color: #31303E;}
.footer__last_row p:nth-child(1) span{font-size: 12px;line-height: 16px;text-transform: uppercase;display:block;color: #959595;font-family: 'Graphik LCGB';margin-bottom:16px;}
.footer__last_row p:nth-child(2){margin-left:auto;font-size: 16px;line-height: 20px;color: #8E9AA5;font-family: 'Graphik LCGM';}