.container{position:relative;z-index:1;overflow:hidden;}
.popup_block{display:none;position:fixed;z-index:4;width:100%;height:100%;overflow:auto;}
.popup_block__bg{background: rgba(49, 48, 62, 0.6);position:fixed;width:100%;height:100%;z-index:10;display:none;top:0px;left:0px;}
.popup_block__form{z-index:11;background: #FFFFFF;border: 2px solid #E6E9EC;box-sizing: border-box;box-shadow: 0px 30px 34px -20px rgba(147, 147, 142, 0.12);border-radius: 8px;position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);padding:36px 40px;box-sizing:border-box;width:100%;max-width:600px;display:none;}
.popup_block__form p:nth-child(1){font-size: 48px;line-height: 52px;margin-bottom:20px;}
.popup_block__form p:nth-child(2){font-size: 20px;line-height: 28px;color: #959595;font-family: 'Graphik LCGM';margin-bottom:40px;}
.popup_block__form p:nth-child(3){font-size: 20px;line-height: 28px;font-family: 'Graphik LCGM';margin-bottom:40px;}
.popup_block__form .input_item{margin-bottom:16px;}
.popup_block__form .input_item.textarea{height:100px;margin-bottom:40px;}
.popup_block__form .yellow{height:60px;max-width:170px;margin-right:20px;}
.popup_block__form.popup_block__pass .yellow{max-width:250px;}
.popup_block__form.popup_block__phonecall .yellow{max-width:237px;}
.popup_block__form .white{height:60px;max-width:140px;cursor:auto;}
.popup_block__form .white span{cursor:pointer;}
.popup_block__form .white span:hover{color:#C5691C;}
.popup_block__form .result{display:none;}
.popup_block__form.popup_block__order img{display:block;margin:0px auto;}
.popup_block__form.popup_block__order p{font-size: 48px;line-height: 52px;color: #31303E;text-align:center;font-family: 'Graphik LCGR';margin-top:40px;margin-bottom:38px;}
.popup_block__form.popup_block__order button{height:60px;max-width:148px;display:block;margin:0px auto 0px;}
.popup_block__form .result img{display:block;margin:0px auto;}
.popup_block__form .result p{font-size: 48px;line-height: 52px;color: #31303E;text-align:center;font-family: 'Graphik LCGR';margin-top:40px;margin-bottom:38px;}
.popup_block__form .result button{height:60px;max-width:148px;display:block;margin:0px auto 0px;}
.popup_block__bill .yellow{max-width:287px;}
.popup_block__bill .yellow img{margin-right:20px;}
.popup_block__error .yellow{max-width:257px;}
.popup_block__adress .yellow, .popup_block__contact .yellow{max-width:247px;}
.popup_block__del_contact .yellow, .popup_block__del_adress .yellow{max-width:211px;}
.popup_block__form .result img{max-width:440px;}
.popup_block__fullwidth{background:#fff;z-index:11;padding-top:60px;box-sizing:border-box;display:none;position:absolute;left:0px;top:0px;width:100%;}
.popup_block__fullwidth .center > p{font-size: 48px;line-height: 52px;}
.popup_block__fullwidth .input_item{margin-top:41px;max-width:680px;}
.popup_block__fullwidth .input_item label img{position:absolute;right:20px;top:50%;transform:translate(0%, -50%);cursor:pointer;}
.popup_block__fullwidth .input_item.focused label img{top:21px;}
.popup_block__fullwidth .popup_table{margin-top:40px;}
.popup_block__fullwidth .popup_table.offset{padding-bottom:142px;}
.popup_block__fullwidth .popup_table .popup_table_th{display:flex;background:#F0F4F9;}
.popup_block__fullwidth .popup_table .popup_table_td{display:flex;border-bottom:2px solid #E6E9EC;cursor:pointer;}
.popup_block__fullwidth .popup_table .popup_table_td:last-child{border-bottom:0px;}
.popup_block__fullwidth .popup_table .popup_table_th div{width:100%;padding:13px 0px;font-size: 12px;text-transform: uppercase;color: #959595;line-height: 16px;font-family: 'Graphik LCGB';box-sizing:border-box;}
.popup_block__fullwidth .popup_table .popup_table_td div{width:100%;min-height:60px;padding:13px 0px;font-family: 'Graphik LCGM';box-sizing:border-box;display:flex;align-items:center;}
.popup_block__fullwidth .popup_table .popup_table_td div span{display:none;font-size: 12px;color: #959595;text-transform: uppercase;line-height: 16px;font-family: 'Graphik LCGB';}
.popup_block__fullwidth .popup_table .popup_table_th div:first-child, .popup_block__fullwidth .popup_table .popup_table_td div:first-child{padding-left:40px;}
.popup_block__fullwidth.popup_adress .popup_table .popup_table_th div:first-child, .popup_block__fullwidth.popup_adress .popup_table .popup_table_td div:first-child{max-width:145px;}
.popup_block__fullwidth .popup_table .popup_table_th div:nth-child(2), .popup_block__fullwidth .popup_table .popup_table_td div:nth-child(2){max-width:530px;}
.popup_block__fullwidth.popup_adress .popup_table .popup_table_th div:nth-child(3), .popup_block__fullwidth.popup_adress .popup_table .popup_table_td div:nth-child(3){max-width:600px;}
.popup_block__fullwidth .popup_table .popup_table_th div:last-child, .popup_block__fullwidth .popup_table .popup_table_td div:last-child{max-width:60px;margin-left: auto;align-items: center;justify-content: flex-end;display: flex;}
.popup_block__fullwidth .popup_table .popup_table_td div:last-child a{border-bottom:0px;display:none;}
.popup_block__fullwidth .popup_table .popup_table_td div:last-child a:last-child{margin-left:20px;}
.popup_block__fullwidth .popup_buttons{position:fixed;width:100%;padding:40px 0px;background:#F8FCF4;border-top:2px solid #E6E9EC;bottom:0px;box-sizing:border-box;}
.popup_block__fullwidth .popup_buttons .popup_maps{height:142px;}
.popup_block__fullwidth .popup_buttons.popup_maps{height:142px;}
.popup_block__fullwidth .popup_buttons .yellow{max-width:232px;height:60px;margin-right:20px;}
.popup_block__fullwidth .popup_buttons .yellow.inactive{opacity:0.3;}
.popup_block__fullwidth .popup_buttons .white{max-width:140px;height:60px;background:#F8FCF4;}
.popup_block__fullwidth .popup_table .popup_table_td:hover, .popup_block__fullwidth .popup_table .popup_table_td.clicked{background:#F8FCF4;}
.popup_block__fullwidth .popup_table .popup_table_td:hover div:last-child a, .popup_block__fullwidth .popup_table .popup_table_td.clicked div:last-child a{display:block;}
.popup_block__fullwidth .popup_buttons .center > p{font-size: 20px;line-height: 28px;margin-right:auto;align-items: center;display: flex;font-family: 'Graphik LCGM';}
.popup_block__fullwidth .popup_map{margin-top:60px;}
.popup_block__fullwidth .popup_map img{max-width:100%;}
.popup_block__nakl .yellow{max-width:240px;}
.popup_block__nakl .yellow img{margin-right:20px;}
.popup_block__pass .pass_click{position:absolute;right:20px;top:50%;transform:translate(0%,-50%);cursor:pointer;}
.popup_block__pass .hide_pass{display:none;}
.popup_block__contact_change .yellow, .popup_block__adress_change .yellow{max-width:240px;}
#map{height:100%;}
.popup_block__form .input_item{max-width:none;}
.form_row{justify-content:space-between;}
.form_row .input_item{max-width:252px;}
.popup_adress{height:auto;}
.popup_block__fullwidth.popup_maps .popup_buttons{height:142px;}