@media screen and (max-width: 1500px)
{
	.popup_block__form p:nth-child(1),.popup_block__fullwidth .center > p{font-size: 40px;line-height: 42px;}
}

@media screen and (max-width: 1300px)
{
	.popup_block__form p:nth-child(1),.popup_block__fullwidth .center > p{font-size: 36px;line-height: 38px;}
	.popup_block__feedbac{top:5%;transform:translate(-50%,0%);margin-bottom:5%;}
	.popup_block__fullwidth{padding-top:30px;}
	.popup_block__fullwidth .popup_map{margin-top:30px;}
	.popup_block__fullwidth .popup_buttons .center > p{font-size: 16px;line-height: 19px;}

}

@media screen and (max-width: 959px)
{
	.popup_block__form p:nth-child(1),.popup_block__fullwidth .center > p{font-size: 28px;line-height: 34px;}
	.popup_block__fullwidth .popup_table .popup_table_th{display:none;}
	.popup_block__fullwidth .popup_table .popup_table_td{position:relative;}
	.popup_block__fullwidth .popup_table .popup_table_td:first-child{border-top: 2px solid #E6E9EC;}
	.popup_block__fullwidth .popup_table .popup_table_td div:first-child{padding-left:0px;}
	.popup_block__fullwidth .popup_table .popup_table_td div {min-height:45px;}
	.popup_block__fullwidth .popup_table .popup_table_td div span{display:flex;padding-left:24px;min-width:120px;}
	.popup_block__fullwidth .popup_table .popup_table_td{display:flex;flex-direction:column;}
	.popup_block__fullwidth .popup_table .popup_table_td div:last-child{position:absolute;top:0px;right:0px;}
	.popup_block__fullwidth .popup_buttons .center > p{font-size:16px;line-height:19px;margin-right:10px;}
	.popup_block__form p:nth-child(2){margin-bottom:20px;}
	.popup_maps .popup_buttons{position:relative;}
	.popup_block__fullwidth{padding-top:30px;}
	.popup_block__fullwidth .popup_map{margin-top:30px;}
	.popup_block__fullwidth.popup_maps .popup_buttons{height:142px;}
	.popup_block__fullwidth.popup_maps .popup_buttons{height:142px;}
}

@media screen and (max-width: 767px)
{
	.popup_block__form p:nth-child(1),.popup_block__fullwidth .center > p{font-size: 24px;line-height: 28px;text-align:center;}
	.popup_block__form p:nth-child(2){font-size: 16px;line-height: 20px;}
	.popup_block__form .input_item{max-width:100%;}
	.popup_block__fullwidth .popup_table .popup_table_td{padding:13px 0px;}
	.popup_block__fullwidth .popup_table .popup_table_td div, 
	.popup_block__fullwidth .popup_table .popup_table_th div:first-child, 
	.popup_block__fullwidth .popup_table .popup_table_td div:first-child{flex-direction:column;width:100%;max-width:100%;align-items:flex-start;}
	.popup_block__fullwidth .popup_table .popup_table_td div span{margin-bottom:8px;padding-left:0px;max-width:none;}
	.popup_block__fullwidth .popup_table .popup_table_td div:last-child{position:relative;top:0px;right:0px;margin-left:0px;max-width:100%;align-items:flex-start;flex-direction:row;justify-content:flex-start;}
	.popup_block__fullwidth .popup_table .popup_table_td div:last-child a{display:flex;}
	.popup_buttons .center{flex-direction:column;}
	.popup_block__fullwidth .popup_buttons .yellow, .popup_block__fullwidth .popup_buttons .white{max-width:100%;margin-right:0px;}
	.popup_block__fullwidth .popup_buttons{padding:30px 0px;}
	.popup_block__fullwidth.popup_maps .popup_buttons{height:216px;}
	.popup_block__fullwidth .popup_buttons .center > p{margin-bottom:15px;text-align:left;}
	.popup_block__fullwidth{padding-top:25px;}
	.popup_block__fullwidth .popup_map{margin-top:25px;}
	.form_row{justify-content:flex-start;flex-direction:column;}
	.form_row .input_item{max-width:100%;}
	.popup_block__fullwidth.popup_contacts .popup_table.offset{padding-bottom:182px;}
}

@media screen and (max-width: 700px)
{
	.popup_block__form{width:96%;padding:0px 2%;padding:15px;top:5%;transform:translate(-50%,0%);margin-bottom:10%;}
	.popup_block__form .popup_block__feedback_buttons {flex-direction:column;}
	.popup_block__form .popup_block__feedback_buttons button{max-width:100%;}
	.popup_block__form .popup_block__feedback_buttons button:first-child{margin-bottom:10px;max-width:none;}
}